<ng-container *ngIf="loading1">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<div *ngIf="artist" class="row">
  <div class="col-sm-4">
    <div class="card">
      <img *ngIf="artist" class="card-img-top" [src]="artist.avatarUrl" alt="Card image">
    </div>
  </div>
  <div class="col-sm-8">
    <h6 class="d-inline">Name: </h6><span class="text-secondary">{{artist.name}}</span><br>
    <h6 class="d-inline">Date of Birth: </h6><span class="text-secondary">{{artist.birthDate | date}}</span><br>
    <h6 class="d-inline">Biography: </h6><p class="text-secondary" style="overflow-wrap: break-word">{{artist.biography}}</p>
  </div>
</div>
<ng-container *ngIf="loading2">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<div class="songList py-2"
     infiniteScroll
     [scrollWindow]="false"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let song of songList; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td><a [routerLink]="['/song/detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
      <td>{{ song.releaseDate | date }}</td>
      <td>
        <ng-container *ngIf="!!currentUser">
          <button (click)="likeSong(song, i)" class="btn btn-outline-danger" *ngIf="!song.liked" [disabled]="song.loadingLikeButton">
            <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!song.loadingLikeButton"><i class="far fa-heart"></i></span>
          </button>
          <button (click)="unlikeSong(song, i)" class="btn btn-outline-danger" *ngIf="song.liked" [disabled]="song.loadingLikeButton">
            <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!song.loadingLikeButton"><i class="fas fa-heart"></i></span>
          </button>
        </ng-container>
      </td>
      <td>
        <button class="btn btn-primary" (click)="addToPlaying(song)" [disabled]="song.isDisabled"><i
          class="fas fa-play-circle"></i></button>
      </td>
      <td>
        <ng-container *ngIf="!!currentUser">
          <app-modal [action]="'addToPlaylist'" [title]="'Select a playlist to add'">
            <app-add-song-to-playlist class="modal-body" [songId]="song.id" [playlistList]="playlistList"></app-add-song-to-playlist>
            <app-create-playlist (createPlaylist)="refreshPlaylistList(song.id)" class="modal-footer"></app-create-playlist>
          </app-modal>
        </ng-container>
      </td>
    </tr>
    <ng-container *ngIf="loading3">
      <tr class="text-center">
        <app-spinner [type]="1"></app-spinner>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
