button {
  margin-right: 0.5rem;
}

.active {
  color: #FFFFFF;
  background-color: #0055aa;
}

.modal-footer {
  border: 0;
}

.songList {
  height: 15rem;
  overflow-y: scroll;
}

tr, a {
  cursor: pointer;
}

tr:nth-child(n):hover {
  background-color: #c7c7c7;
}
