<app-modal [title]="'Edit playlist' | translate" [action]="'edit'" (closeAction)="editAction()" [isPoppedUp]="false">
  <div class="modal-body">
        <form [formGroup]="playlistEditForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">{{ 'Title' | translate}}</label>
            <input class="form-control" type="text" id="title" [placeholder]="'Enter playlist title' | translate" formControlName="title">
          </div>
        </form>
        <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-danger]="error" [class.alert-success]="!error">{{ message | translate }}</div>
      </div>
  <div class="modal_footer">
    <button (click)=onSubmit() class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{ 'Update' | translate }}
    </button>
  </div>
</app-modal>
