<ngb-carousel #carousel interval="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3>{{ description[i] }}</h3>
    </div>
    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img [src]="img" [alt]="description[i]" width="100%" />
      </div>
    </a>
  </ng-template>
</ngb-carousel>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'Title' | translate }}</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="['/song','detail']" [queryParams]="{id: song.id}" *ngFor="let song of songPage.content; index as i">
      <th scope="row">{{ song.rn }}</th>
      <td>
        <a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}"><h5>{{song.title}}</h5></a>
        <a *ngFor="let artist of song.artists; index as j"
          ><small>{{ artist.name }}{{ j === song.artists.length - 1 ? '' : ', '}}</small></a
        >
      </td>
      <td>
        <small>{{ song.duration | duration}}</small>
      </td>
      <td>
        <span class="float-right"
          ><small><i class="bi bi-headphones"></i> {{song.listeningFrequency}}</small></span
        >
      </td>
      <td>
        <ng-container *ngIf="!!currentUser">
          <button
            (click)="likeSong(song, $event, true)"
            class="btn btn-outline-danger btn-sm rounded-circle border-0"
            *ngIf="!song.liked"
            [disabled]="song.loadingLikeButton"
          >
            <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!song.loadingLikeButton"><i class="bi bi-heart"></i></span>
          </button>
          <button
            (click)="likeSong(song, $event, false)"
            class="btn btn-outline-danger btn-sm rounded-circle border-0"
            *ngIf="song.liked"
            [disabled]="song.loadingLikeButton"
          >
            <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!song.loadingLikeButton"><i class="bi bi-heart-fill"></i></span>
          </button>
        </ng-container>
        <div ngbDropdown class="d-inline-block" placement="bottom" display="dynamic">
          <button (click)="$event.stopPropagation()" class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown_menu">
            <button ngbDropdownItem class="btn btn-primary btn-sm" (click)="addToPlaying(song, $event)" [disabled]="song.isDisabled">
              <i class="bi bi-play-circle mr-1"></i><span>{{ 'Add to Queue' | translate }}</span>
            </button>
            <ng-container *ngIf="!!currentUser">
              <button ngbDropdownItem (click)="openPlaylistDialog(song.id, $event)" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle mr-1"></i>{{ 'Add to Playlist' | translate }}
              </button>
            </ng-container>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ngb-pagination
    [collectionSize]="songPage.totalElements"
    [page]="songPage.pageable?.pageNumber + 1"
    [pageSize]="songPage.pageable?.pageSize"
    (pageChange)="goToPage($event - 1)"
  ></ngb-pagination>
</nav>
