<ngb-carousel #carousel interval="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3>{{ description[i] }}</h3>
    </div>
    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img [src]="img" [alt]="description[i]" width="100%">
      </div>
    </a>
  </ng-template>
</ngb-carousel>
<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{ 'Title' | translate }}</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr [routerLink]="['/song','detail']" [queryParams]="{id: song.id}" *ngFor="let song of songList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}"><h5>{{song.title}}</h5></a>
      <a *ngFor="let artist of song.artists; index as j"><small>{{ artist.name }}{{ j === song.artists.length - 1? '': ', '}}</small></a>
    </td>
    <td>
      <small>{{ (Math.floor(song.duration / 60).toString().padStart(2, '0')) }}{{':'}}{{ Math.round(song.duration % 60).toString().padStart(2, '0')}}</small>
    </td>
    <td><span class="float-right"><small><i class="fas fa-headphones-alt"></i> {{song.listeningFrequency}}</small></span></td>
    <td>
      <ng-container *ngIf="!!currentUser">
        <button (click)="likeSong(song, $event, true)" class="btn btn-outline-danger btn-sm rounded-circle border-0" *ngIf="!song.liked" [disabled]="song.loadingLikeButton">
          <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="!song.loadingLikeButton"><i class="far fa-heart"></i></span>
        </button>
        <button (click)="likeSong(song, $event, false)" class="btn btn-outline-danger btn-sm rounded-circle border-0" *ngIf="song.liked" [disabled]="song.loadingLikeButton">
          <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="!song.loadingLikeButton"><i class="fas fa-heart"></i></span>
        </button>
      </ng-container>
      <div ngbDropdown class="d-inline-block" placement="bottom" display="dynamic" >
        <button (click)="$event.stopPropagation()" class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-ellipsis-h"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown_menu">
          <button ngbDropdownItem class="btn btn-primary btn-sm" (click)="addToPlaying(song, $event)" [disabled]="song.isDisabled">
            <i class="fas fa-play-circle mr-1"></i><span>{{ 'Add to Queue' | translate }}</span>
          </button>
          <ng-container *ngIf="!!currentUser">
            <button ngbDropdownItem (click)="openPlaylistDialog(song.id, $event)" class="btn btn-primary btn-sm">
              <i class="fas fa-plus mr-1"></i>{{ 'Add to Playlist' | translate }}</button>
          </ng-container>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" *ngIf="!first" >
      <a class="page-link" (click)="goToPage(pageNumber - 1, true)" tabindex="-1" aria-disabled="true">{{ 'Previous' | translate }}</a>
    </li>
    <li *ngFor="let page of pages" class="page-item">
      <a class="page-link" [class.active]="page.pageNumber === pageNumber" (click)="goToPage(page.pageNumber, true)" tabindex="-1" aria-disabled="true">{{ page.pageNumber + 1 }}</a>
    </li>
    <li class="page-item" *ngIf="!last" >
      <a class="page-link" (click)="goToPage(pageNumber + 1, true)" tabindex="-1" aria-disabled="true">{{ 'Next' | translate }}</a>
    </li>
  </ul>
</nav>
