<h4 class="text-center" *ngIf="playList">{{ playList.title }}</h4>
<table class="table table-striped" *ngIf="playList">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'common.label.title' | translate }}</th>
      <th scope="col">{{ 'Release Date' | translate }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="['/song','detail']" [queryParams]="{id: song.id}" *ngFor="let song of songList; index as i">
      <th scope="row">{{ song.rn }}</th>
      <td><a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
      <td>{{ song.releaseDate | date: 'fullDate' : '' : translate.currentLang }}</td>
      <td>
        <button (click)="addToPlaying(song, $event)" class="btn btn-primary rounded-circle" [disabled]="song.isDisabled">
          <i class="bi bi-play"></i>
        </button>
        <button class="btn btn-primary rounded-pill" (click)="openDeleteDialog(playList, song)">
          <span class="spinner-border spinner-border-sm mr-1"></span>{{'Remove' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
