<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{ 'Title' | translate }}</th>
    <th scope="col">{{ 'Release Date' | translate }}</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr [routerLink]="['/song','detail']" [queryParams]="{id: song.id}" *ngFor="let song of songList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td><a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
    <td>{{ song.releaseDate | date: 'fullDate' : '' : translate.currentLang }}</td>
    <td>
      <button (click)="addToPlaying(song, $event)" class="btn btn-primary" [disabled]="song.isDisabled">
        <i class="fas fa-play-circle"></i>
      </button>
      <app-delete-playlist-song [playlistId]="playlistId" [songId]="song.id" [name]="song.title" (deleteSongPlaylist)="refreshPlaylistDetail()"></app-delete-playlist-song>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="message" class="alert alert-danger mt-3 mb-0" >{{ message | translate }}</div>
