<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Release Date</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of songList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ song.title }}</td>
    <td>{{ song.releaseDate | date }}</td>
    <td>
      <button (click)="addToPlaying(song)" class="btn btn-primary"><i
        class="fas fa-play-circle"></i></button>
      <app-delete-playlist-song [songId]="song.id" [name]="song.title" (deleteSongPlaylist)="deletePlaylistSong()"></app-delete-playlist-song>
    </td>
  </tr>
  </tbody>
</table>
