<app-modal-wrapper [title]="'Select a playlist to add' | translate" (closeAction)="close()">
    <div modalBody>
        <ng-container *ngIf="loading">
            <app-spinner [type]="4"></app-spinner>
        </ng-container>
        <ul class="list-group">
            <li *ngFor="let playlist of playlistList">
                <a href="javascript:void(0);" (click)="addSongToPlaylist(songId, playlist.id)"
                   class="list-group-item list-group-item-action">{{ playlist.title }}</a>
            </li>
        </ul>
    </div>
    <ng-container modalFooter>
        <button (click)="openCreatePlaylistDialog()"
                class="btn btn-primary m-2 rounded-pill">{{ 'Create playlist' | translate }}</button>
    </ng-container>
</app-modal-wrapper>
