<app-card [type]="3" [title]="'Reset Password' | translate" *ngIf="status===0 && status !== null">
  <div class="lambda_card-body_3">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password"><i class="fas fa-users"></i> {{'Password' | translate }}
        </label>
        <input id="password" type="password" [placeholder]="('Enter' | translate) + ' ' + ('Password' | translate)" formControlName="newPassword" class="form-control"/>
        <div class="alert alert-danger" role="alert" *ngIf="resetPasswordForm.get('newPassword').hasError('required') && (resetPasswordForm.get('newPassword').touched || this.submitted)">
          {{ 'Password' | translate }}{{' '}}{{ 'must be filled' | translate }}{{'!'}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="resetPasswordForm.get('newPassword').hasError('minlength') && (resetPasswordForm.get('newPassword').touched || this.submitted)">
          {{ 'Password' | translate }}{{' '}}{{ 'must have at least' | translate }}{{' 6 '}}{{ 'characters' | translate }}{{'!'}}
        </div>
      </div>
      <div class="form-group">
        <label for="repeatedNewPassword"><i class="fas fa-key"></i>  {{ 'Re-enter Password' | translate }}</label>
        <input id="repeatedNewPassword" type="password" [placeholder]="('Re-enter' | translate) + ' ' + ('Password' | translate)" formControlName="repeatedNewPassword" class="form-control"/>
        <div class="alert alert-danger" role="alert" *ngIf="resetPasswordForm.get('repeatedNewPassword').hasError('required') && (resetPasswordForm.get('repeatedNewPassword').touched || this.submitted)">
          {{ 'Password' | translate }}{{' '}}{{ 'must be filled' | translate }}{{'!'}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="resetPasswordForm.get('repeatedNewPassword').hasError('mustMatch') && (resetPasswordForm.get('repeatedNewPassword').touched || this.submitted)">
          {{ 'Password' | translate }}{{' '}}{{ 'does not match' | translate }}{{'!'}}
        </div>
      </div>
      <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-danger]="error"
           [class.alert-success]="!error">{{ message | translate }}
      </div>
      <button [disabled]="loading" class="btn btn-primary rounded-pill float-right mt-2">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <span>{{ 'Reset' | translate }}</span>
      </button>
    </form>
  </div>
</app-card>
<div class="alert text-center w-100 h-auto py-5" *ngIf="status!==0 && status !== null" [class.alert-success]="!error" [class.alert-danger]="error">
  <span>{{ message | translate }}</span><br>
  <span>[</span><a [routerLink]="['/home']">{{ 'Click here to return back to the home page' | translate }}</a><span>]</span>
</div>
