<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<div class="row">
  <ng-container *ngFor="let album of albumList; index as i" >
    <app-card [type]="1" class="col-3 py-2 text-center">
      <div class="lambda_card-header_1"><a [routerLink]="['/album', 'detail']" [queryParams]="{id: album.id}">{{ album.title }}</a></div>
      <div class="lambda_card-text_1 align-items-center">
        <a [routerLink]="['/album', 'detail']" [queryParams]="{id: album.id}"><img [src]="album.coverUrl" alt=""/></a>
      </div>
      <div class="lambda_card-footer_1">
        <button (click)="addAllToPlaying(album.id)" class="btn btn-info" [disabled]="album.isDisabled"><i class="fas fa-play-circle"></i></button>
      </div>
    </app-card>
  </ng-container>
</div>
<div *ngIf="message" class="alert alert-danger mt-3 mb-0" >{{ message | translate }}</div>
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" *ngIf="!first" (click)="goToPage(pageNumber - 1)" tabindex="-1" aria-disabled="true">{{ 'Previous' | translate}}</a>
    </li>
    <li *ngFor="let page of pages" class="page-item">
      <a class="page-link" [class.active]="page.pageNumber === pageNumber" (click)="goToPage(page.pageNumber)" tabindex="-1" aria-disabled="true">{{ page.pageNumber + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!last" (click)="goToPage(pageNumber + 1)" tabindex="-1" aria-disabled="true">{{ 'Next' | translate }}</a>
    </li>
  </ul>
</nav>




