<div class="row row-cols-sm-auto gy-5">
  <div *ngFor="let album of albumPage.content | likes:'ALBUM':(currentUser$ | async); index as i" class="col-sm-3">
    <app-card [type]="1" [tileHoverEffect]="true">
      <a cardHeader1 [routerLink]="['/album', 'detail']" [queryParams]="{id: album.id}">{{ album.title }}</a>
      <div cardText1 class="align-items-center h-100">
        <a [routerLink]="['/album', 'detail']" [queryParams]="{id: album.id}"
          ><img class="card-img img-thumbnail album-cover" [src]="album.coverUrl" alt=""
        /></a>
      </div>
      <div cardFooter1 class="d-flex align-items-center justify-content-center">
        <button (click)="addAlbumToPlaying(album, $event)" class="btn btn-sm btn-info rounded-circle" [disabled]="album.isDisabled">
          <i class="bi bi-play"></i>
        </button>
        <app-album-like-btn [album]="album"></app-album-like-btn>
      </div>
    </app-card>
  </div>
</div>
<ngb-pagination
  *ngIf="albumPage.totalPages > 1"
  [collectionSize]="albumPage.totalElements"
  [page]="albumPage.pageable?.pageNumber + 1"
  [pageSize]="albumPage.pageable?.pageSize"
  (pageChange)="getAlbumPage($event - 1)"
></ngb-pagination>
