<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
    <div class="card-footer">
      <button>Play</button>
    </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>

<div class = "col-sm-3 poly-prod">
  <div class="card">
    <div class="card-header">Casi</div>
    <div class="card-body">
      <img class="align-items-center" src="images/computer.png" height="200" width="200"/></div>
  </div>
  <div class="card-footer">
    <button>Play</button>
  </div>
</div>



