<app-modal [action]="'create'" [title]="'Create a playlist'">
  <app-create-playlist class="modal-body"></app-create-playlist>
  <div class="modal-footer">
    <button (click)="createPlaylist()" [disabled]="loading || this.createPlaylistForm.get('title').hasError('required')" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
  </div>
</app-modal>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" id="name">Title</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let playlist of playlistList; index as i">
    <td>{{ i + 1 }}</td>
    <td class="clickable" [routerLink]="['/playlist','detail']" [queryParams]="{id: playlist.id}">{{ playlist.title }}</td>
    <td><app-delete-playlist [id]="playlist.id" [playlistName]="playlist.title" (deletePlaylist)="deletePlaylist()"></app-delete-playlist></td>
  </tr>
  </tbody>
</table>

