<form [formGroup]="artistUploadForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="artistName">Artist Name</label>
    <input type="text" class="form-control" id="artistName" placeholder="Enter artist name" formControlName="name">
    <div class="alert alert-danger" role="alert" *ngIf="artistUploadForm.get('name').hasError('required') && (artistUploadForm.get('name').touched || submitted)">
      Must be filled!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="artistUploadForm.get('name').hasError('minlength') && (artistUploadForm.get('name').touched || submitted)">
      Minimum 4 characters!
    </div>
  </div>
  <div class="form-group">
    <label for="birthDate">Birth Date</label>
    <input type="date" class="form-control" id="birthDate" placeholder="yyyy-mm-dd" formControlName="birthDate">
    <div class="alert alert-danger" role="alert"
         *ngIf="artistUploadForm.get('birthDate').hasError('required') && (artistUploadForm.get('birthDate').touched || submitted)">
      Must be selected!
    </div>
  </div>

  <label for="avatar">Avatar</label>
  <div class="form-group custom-file">

    <label class="custom-file-label" *ngIf=!isImageFileChosen>Choose file</label>
    <label class="custom-file-label" *ngIf=isImageFileChosen>{{ imageFileName }}</label>
    <input type="file" class="custom-file-input" id="avatar" (change)="selectFile($event)">
  </div>
  <div class="form-group">
    <label for="biography"></label>
    <textarea class="form-control" id="biography" formControlName="biography"></textarea>
  </div>
  <div class="mt-sm-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div class="progress form-group" *ngIf="progress.value > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress.value">
    </div>
  </div>
  <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-danger]="error"
       [class.alert-success]="!error">{{message}}
  </div>
</form>
