.z-logo img{
  width: 100px;
  height: 40px;
  margin-left: 200px;
}

.form-inline {
  margin-right: 570px;
}

.mr-sm-2 {
  width: 435px;
}

.navbar {
  background-color: #bbbbbb !important;
  height: 100px;
}


