<div *ngIf="type === 1" class="card col-sm-auto mx-2 py-2 text-center card_type_1" [class.tile]="tileHoverEffect">
  <div class="card-header">
    <ng-content select=".lambda_card-header_1"></ng-content>
    <ng-content select=".lambda_card-title_1"></ng-content>
    <div class="card-subtitle mb-2 text-muted_1">
      <ng-content select=".card-subtitle_1"></ng-content>
    </div>
  </div>
  <div class="card-body">
    <ng-content select=".lambda_card-body_1"></ng-content>
    <ng-content select=".lambda_card-text_1"></ng-content>
    <ng-content select=".lambda_card-link_1"></ng-content>
  </div>
  <div class="card-footer">
    <ng-content select=".lambda_card-footer_1"></ng-content>
  </div>
</div>
<div *ngIf="type === 2" class="card mb-3 w-100 card_type_2">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="imgSrc" class="card-img img-thumbnail" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <button *ngIf="showEditButton" (click)="showHideEditForm()" class="btn btn-secondary rounded-circle float-right"><ng-content select=".lambda_card-button"></ng-content></button>
        <h3 class="card-title text-center">{{ title }}</h3>
        <div class="card-text"><ng-content select=".lambda_card-text_2"></ng-content></div>
        <small class="text-muted"><ng-content select=".lambda_card-text-muted_2"></ng-content></small>
      </div>
    </div>
  </div>
</div>
<div *ngIf="type === 3" class="card w-100 card_type_3">
  <div class="card-header text-center">
    <h3>{{ title }}</h3>
    <div class="card-subtitle mb-2 text-muted">
      <ng-content select=".lambda_card-subtitle_3"></ng-content>
    </div>
  </div>
  <div class="card-body">
    <ng-content select=".lambda_card-body_3"></ng-content>
    <ng-content select=".lambda_card-text_3"></ng-content>
    <ng-content select=".lambda_card-link_3"></ng-content>
  </div>
</div>
