<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularClimaxSound</title>
</head>
<body>
  <div class="box-left" style="margin-top: 100px">
  <div class="slide_default">
    <div class="group marquee_">
      <div class="marquee_img_vertical">
        <ul id="marquee_imgid_musicHubMarquee" class="marquee_content">

          <li class="marquee_imagesa trans" size="default">
            <div><a class="marquee_img" href="https://www.nhaccuatui.com/video/sau-con-mua-nang-se-ve-song-luan.g18c1HohiQfjm.html" target="_blank" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân (MV)" ><img src="https://avatar-nct.nixcdn.com/slideshow/2019/10/01/9/4/6/a/1569925533711_org.jpg" alt="sau con mua nang se ve - song luan (mv)" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân (MV)"></a></div>
          </li>

          <li class="marquee_imagesa trans hideShowCase" size="default">
            <div><a class="marquee_img" href="https://www.nhaccuatui.com/bai-hat/dieu-cuoi-cung-em-chon-thanh-ha.yicPZB7O4nTw.html" target="_blank" title="Điều Cuối Cùng Em Chọn - Thanh Hà"><img src="https://avatar-nct.nixcdn.com/slideshow/2019/09/27/0/e/8/9/1569555958754_org.jpg" alt="dieu cuoi cung em chon - thanh ha" title="Điều Cuối Cùng Em Chọn - Thanh Hà"></a></div>
          </li>

          <li class="marquee_imagesa trans hideShowCase" size="default">
            <div><a class="marquee_img" href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" target="_blank" title="Phải Giữ Em Thôi - Thanh Hưng Idol"><img src="https://avatar-nct.nixcdn.com/slideshow/2019/09/09/8/9/e/8/1568015590007_org.jpg" alt="phai giu em thoi - thanh hung idol" title="Phải Giữ Em Thôi - Thanh Hưng Idol"></a></div>
          </li>

          <li class="marquee_imagesa trans hideShowCase" size="default">
            <div><a class="marquee_img" href="https://www.nhaccuatui.com/video/hoa-tam-ai-phuong.jHAGCdq7FO7fb.html" target="_blank" title="Họa Tâm - Ái Phương (MV)"><img src="https://avatar-nct.nixcdn.com/slideshow/2019/09/27/0/e/8/9/1569556759502_org.jpg" alt="hoa tam - ai phuong (mv)" title="Họa Tâm - Ái Phương (MV)"></a></div>
          </li>

          <li class="marquee_imagesa trans hideShowCase" size="default">
            <div><a class="marquee_img" href="https://www.nhaccuatui.com/video/bat-chap-o-lai-bao-kun-ft-cheng.rp2RDNQ7sa5UV.html" target="_blank" title="Bất Chấp Ở Lại - Bảo Kun, Cheng (MV)"><img src="https://avatar-nct.nixcdn.com/slideshow/2019/10/01/9/4/6/a/1569925402851_org.jpg" alt="bat chap o lai - bao kun, cheng (mv)" title="Bất Chấp Ở Lại - Bảo Kun, Cheng (MV)"></a></div>
          </li>

        </ul>
      </div>
      <div class="marquee_list_small_slide">
        <div id="marquee_navid_slide" class="vertical" numdefault="1">

          <a href="https://www.nhaccuatui.com/video/sau-con-mua-nang-se-ve-song-luan.g18c1HohiQfjm.html" target="_blank" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân (MV)">
            <span class="marquee_thumb_vertical padB_zero"> </span>
            <img width="145px" height="58px" src="https://avatar-nct.nixcdn.com/slideshow/2019/10/01/9/4/6/a/1569925533711_145.jpg" alt="sau con mua nang se ve - song luan (mv)" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân (MV)">
          </a>

          <a href="https://www.nhaccuatui.com/bai-hat/dieu-cuoi-cung-em-chon-thanh-ha.yicPZB7O4nTw.html" target="_blank" title="Điều Cuối Cùng Em Chọn - Thanh Hà">
            <span class="marquee_thumb_vertical padB_zero"> </span>
            <img width="145px" height="58px" src="https://avatar-nct.nixcdn.com/slideshow/2019/09/27/0/e/8/9/1569555958754_145.jpg" alt="dieu cuoi cung em chon - thanh ha" title="Điều Cuối Cùng Em Chọn - Thanh Hà">
          </a>

          <a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" target="_blank" title="Phải Giữ Em Thôi - Thanh Hưng Idol">
            <span class="marquee_thumb_vertical padB_zero"> </span>
            <img width="145px" height="58px" src="https://avatar-nct.nixcdn.com/slideshow/2019/09/09/8/9/e/8/1568015590007_145.jpg" alt="phai giu em thoi - thanh hung idol" title="Phải Giữ Em Thôi - Thanh Hưng Idol">
          </a>

          <a href="https://www.nhaccuatui.com/video/hoa-tam-ai-phuong.jHAGCdq7FO7fb.html" target="_blank" title="Họa Tâm - Ái Phương (MV)">
            <span class="marquee_thumb_vertical padB_zero"> </span>
            <img width="145px" height="58px" src="https://avatar-nct.nixcdn.com/slideshow/2019/09/27/0/e/8/9/1569556759502_145.jpg" alt="hoa tam - ai phuong (mv)" title="Họa Tâm - Ái Phương (MV)">
          </a>

          <a href="https://www.nhaccuatui.com/video/bat-chap-o-lai-bao-kun-ft-cheng.rp2RDNQ7sa5UV.html" target="_blank" title="Bất Chấp Ở Lại - Bảo Kun, Cheng (MV)">
            <span class="marquee_thumb_vertical padB_zero"> </span>
            <img width="145px" height="58px" src="https://avatar-nct.nixcdn.com/slideshow/2019/10/01/9/4/6/a/1569925402851_145.jpg" alt="bat chap o lai - bao kun, cheng (mv)" title="Bất Chấp Ở Lại - Bảo Kun, Cheng (MV)">
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="list_album ngheGiHomNay">
    <div class="fram_select">
      <div class="tile_box_key">
        <h2><a title="Nghe gì hôm nay" href="https://www.nhaccuatui.com/chu-de.html"><p style="font-weight:300;font-size: 26px;color: #2daaed;text-transform: uppercase;">Nghe gì hôm nay</p></a></h2>
      </div>
      <ul>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/nhac-viet-hot-thang-102019-va.5lEm8BI8DzUb.html" class="box_absolute" title="Nhạc Việt Hot Tháng 10/2019 - V.A">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64822975" wgct="1">6.777</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/10/01/3/f/7/e/1569895971005_300.jpg" alt="nhac viet hot thang 10/2019 - v.a" title="Nhạc Việt Hot Tháng 10/2019 - V.A"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/nhac-viet-hot-thang-102019-va.5lEm8BI8DzUb.html" class="name_song" title="Nhạc Việt Hot Tháng 10/2019 - V.A"></a></h3>
            <h4 style="display: none;"><a href="https://www.nhaccuatui.com/nghe-si-va.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ V.A trình bày" target="_blank">V.A</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/thang-10-den-roi-minh-yeu-nhau-thoi-va.lHjvshsDBcO2.html" class="box_absolute" title="Tháng 10 Đến Rồi Mình Yêu Nhau Thôi - V.A">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64692652" wgct="1">10.091</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/09/24/c/c/4/f/1569299691386_300.jpg" alt="thang 10 den roi minh yeu nhau thoi - v.a" title="Tháng 10 Đến Rồi Mình Yêu Nhau Thôi - V.A"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/thang-10-den-roi-minh-yeu-nhau-thoi-va.lHjvshsDBcO2.html" class="name_song" title="Tháng 10 Đến Rồi Mình Yêu Nhau Thôi - V.A"></a></h3>
            <h4 style="display: none;"><a href="https://www.nhaccuatui.com/nghe-si-va.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ V.A trình bày" target="_blank">V.A</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/ben-ly-ca-phe-sang-va.KB0Qnmh6vt2q.html" class="box_absolute" title="Bên Ly Cà Phê Sáng - V.A">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64772110" wgct="1">928</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/09/28/c/2/f/9/1569659375409_300.jpg" alt="ben ly ca phe sang - v.a" title="Bên Ly Cà Phê Sáng - V.A"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/ben-ly-ca-phe-sang-va.KB0Qnmh6vt2q.html" class="name_song" title="Bên Ly Cà Phê Sáng - V.A"></a></h3>
            <h4 style="display: none;"><a href="https://www.nhaccuatui.com/nghe-si-va.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ V.A trình bày" target="_blank">V.A</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/top-20-bai-hat-viet-nam-tuan-392019-va.t7DoNPD69DKS.html" class="box_absolute" title="Top 20 Bài Hát Việt Nam Tuần 39/2019 - V.A">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64807655" wgct="1">7.869</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/09/30/e/b/8/2/1569816892715_300.jpg" alt="top 20 bai hat viet nam tuan 39/2019 - v.a" title="Top 20 Bài Hát Việt Nam Tuần 39/2019 - V.A"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/top-20-bai-hat-viet-nam-tuan-392019-va.t7DoNPD69DKS.html" class="name_song" title="Top 20 Bài Hát Việt Nam Tuần 39/2019 - V.A"></a></h3>
            <h4 style="display: none;"><a href="https://www.nhaccuatui.com/nghe-si-va.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ V.A trình bày" target="_blank">V.A</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/indie-viet-am-nhac-cho-cam-xuc-va.ropYaDr9mWlX.html" class="box_absolute" title="Indie Việt - Âm Nhạc Cho Cảm Xúc - V.A">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64584412" wgct="1">14.131</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/09/18/c/d/a/d/1568791104794_300.jpg" alt="indie viet - am nhac cho cam xuc - v.a" title="Indie Việt - Âm Nhạc Cho Cảm Xúc - V.A"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/indie-viet-am-nhac-cho-cam-xuc-va.ropYaDr9mWlX.html" class="name_song" title="Indie Việt - Âm Nhạc Cho Cảm Xúc - V.A"></a></h3>
            <h4 style="display: none;"><a href="https://www.nhaccuatui.com/nghe-si-va.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ V.A trình bày" target="_blank">V.A</a></h4>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="list_album albumHot">
    <div class="fram_select">
      <div class="tile_box_key">
        <h2><a title="Album Hot" href="https://www.nhaccuatui.com/playlist/playlist-moi.html"><p style="font-weight:300;font-size: 26px;color: #2daaed;text-transform: uppercase;">MỚI PHÁT HÀNH</p></a></h2>
      </div>
      <ul>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/bai-hat/anh-hieu-khong-hari-won.LNhTmt6EkVd5.html" class="box_absolute" title="Anh Hiểu Không - Hari Won">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_6090985" wgct="1">216.685</span></span>
                <span class="icon_play"></span>
              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/26/a/a/9/f/1569468369853.jpg" alt="anh hieu khong - hari won" title="Anh Hiểu Không - Hari Won"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/anh-hieu-khong-hari-won.LNhTmt6EkVd5.html" class="name_song" title="Anh Hiểu Không - Hari Won"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/nghe-si-hari-won.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Hari Won trình bày" target="_blank">Hari Won</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/bai-hat/dieu-cuoi-cung-em-chon-thanh-ha.yicPZB7O4nTw.html" class="box_absolute" title="Điều Cuối Cùng Em Chọn - Thanh Hà">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_6097739" wgct="1">24.390</span></span>
                <span class="icon_play"></span>
              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/27/2/1/a/3/1569555345447.jpg" alt="dieu cuoi cung em chon - thanh ha" title="Điều Cuối Cùng Em Chọn - Thanh Hà"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/dieu-cuoi-cung-em-chon-thanh-ha.yicPZB7O4nTw.html" class="name_song" title="Điều Cuối Cùng Em Chọn - Thanh Hà"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/nghe-si-thanh-ha.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Thanh Hà trình bày" target="_blank">Thanh Hà</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/bai-hat/ngam-trang-tuong-tu-truong-ngon.igibmNE8Lnxo.html" class="box_absolute" title="Ngắm Trăng Tương Tư - Trương Ngôn">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_6090969" wgct="1">44.102</span></span>
                <span class="icon_play"></span>
              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/26/a/a/9/f/1569467583311.jpg" alt="ngam trang tuong tu - truong ngon" title="Ngắm Trăng Tương Tư - Trương Ngôn"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/ngam-trang-tuong-tu-truong-ngon.igibmNE8Lnxo.html" class="name_song" title="Ngắm Trăng Tương Tư - Trương Ngôn"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=Tr%C6%B0%C6%A1ng+Ng%C3%B4n&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Trương Ngôn trình bày" target="_blank">Trương Ngôn</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/bai-hat/khong-yeu-dung-gay-thuong-nho-huynh-thanh-thao.fenD2F16OLIs.html" class="box_absolute" title="Không Yêu Đừng Gây Thương Nhớ  - Huỳnh Thanh Thảo">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_6090457" wgct="1">32.552</span></span>
                <span class="icon_play"></span>
              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/25/0/2/1/8/1569380965561.jpg" alt="khong yeu dung gay thuong nho  - huynh thanh thao" title="Không Yêu Đừng Gây Thương Nhớ  - Huỳnh Thanh Thảo"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/khong-yeu-dung-gay-thuong-nho-huynh-thanh-thao.fenD2F16OLIs.html" class="name_song" title="Không Yêu Đừng Gây Thương Nhớ  - Huỳnh Thanh Thảo">Không Yêu Đừng Gây Thương Nhớ </a></h3>
            <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=Hu%E1%BB%B3nh+Thanh+Th%E1%BA%A3o&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Huỳnh Thanh Thảo trình bày" target="_blank">Huỳnh Thanh Thảo</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/bai-hat/coolieeu-bich-tuyet-ft-dblue-ft-namlee.kpYyo16MVR7h.html" class="box_absolute" title="COOLIEEU - Bích Tuyết, D.Blue, NamLee">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_6098560" wgct="1">3.955</span></span>
                <span class="icon_play"></span>
              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/29/b/f/9/2/1569728885513.jpg" alt="coolieeu - bich tuyet, d.blue, namlee" title="COOLIEEU - Bích Tuyết, D.Blue, NamLee"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/coolieeu-bich-tuyet-ft-dblue-ft-namlee.kpYyo16MVR7h.html" class="name_song" title="COOLIEEU - Bích Tuyết, D.Blue, NamLee"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=B%C3%ADch+Tuy%E1%BA%BFt&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Bích Tuyết trình bày" target="_blank">Bích Tuyết</a>, <a href="https://www.nhaccuatui.com/nghe-si-dblue.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ D.Blue trình bày" target="_blank">D.Blue</a>, <a href="https://www.nhaccuatui.com/tim-kiem?q=NamLee&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ NamLee trình bày" target="_blank">NamLee</a></h4>
          </div>
        </li>


        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/lover-taylor-swift.0gbPczodmzDZ.html" class="box_absolute" title="Lover - Taylor Swift">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64116585" wgct="1">15.380</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/08/23/1/c/4/a/1566534894020_300.jpg" alt="lover - taylor swift" title="Lover - Taylor Swift"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/lover-taylor-swift.0gbPczodmzDZ.html" class="name_song" title="Lover - Taylor Swift"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/nghe-si-taylor-swift.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Taylor Swift trình bày" target="_blank">Taylor Swift</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/judy-original-motion-picture-soundtrack-renee-dominique.MJST9KFBVEmE.html" class="box_absolute" title="Judy (Original Motion Picture Soundtrack) - Renee Dominique">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64735329" wgct="1">207</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/09/26/1/7/9/8/1569492184319_300.jpg" alt="judy (original motion picture soundtrack) - renee dominique" title="Judy (Original Motion Picture Soundtrack) - Renee Dominique"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/judy-original-motion-picture-soundtrack-renee-dominique.MJST9KFBVEmE.html" class="name_song" title="Judy (Original Motion Picture Soundtrack) - Renee Dominique"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=Renee+Dominique&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Renee Dominique trình bày" target="_blank">Renee Dominique</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/indigo-chris-brown.C1ZWTmPnIfGo.html" class="box_absolute" title="Indigo - Chris Brown">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_62960754" wgct="1">8.300</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/06/28/7/5/e/f/1561690416397_300.jpg" alt="indigo - chris brown" title="Indigo - Chris Brown"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/indigo-chris-brown.C1ZWTmPnIfGo.html" class="name_song" title="Indigo - Chris Brown"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/nghe-si-chris-brown.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Chris Brown trình bày" target="_blank">Chris Brown</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/center-point-road-thomas-rhett.ZoM2cgJqsQG3.html" class="box_absolute" title="Center Point Road - Thomas Rhett">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_62540887" wgct="1">1.741</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/05/31/2/4/b/e/1559285398622_300.jpg" alt="center point road - thomas rhett" title="Center Point Road - Thomas Rhett"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/center-point-road-thomas-rhett.ZoM2cgJqsQG3.html" class="name_song" title="Center Point Road - Thomas Rhett"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=Thomas+Rhett&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Thomas Rhett trình bày" target="_blank">Thomas Rhett</a></h4>
          </div>
        </li>

        <li>
          <div class="box-left-album">
            <a href="https://www.nhaccuatui.com/playlist/kirk-dababy.cJ28jbXAFicj.html" class="box_absolute" title="Kirk - DaBaby">
              <div class="bg_action_info">
                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_64813250" wgct="1">82</span></span>
                <span class="icon_play"></span>

              </div>
              <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-nct.nixcdn.com/playlist/2019/09/30/1/5/a/b/1569844108167_300.jpg" alt="kirk - dababy" title="Kirk - DaBaby"></span>
            </a>
          </div>
          <div class="info_album">
            <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/kirk-dababy.cJ28jbXAFicj.html" class="name_song" title="Kirk - DaBaby"></a></h3>
            <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=DaBaby&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ DaBaby trình bày" target="_blank">DaBaby</a></h4>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="list_music listSong">
    <div class="fram_select">
      <div class="tile_box_key">
        <h2><span class="icon_song"></span><a title="Bài Hát" href="https://www.nhaccuatui.com/bai-hat/bai-hat-moi-nhat.html"><p style="font-weight:300;font-size: 26px;color: #2daaed;text-transform: uppercase;">BÀI HÁT</p></a></h2>
      </div>
      <ul>
        <div class="row" style="margin-left: -50px">
          <div class="col-md-6">
          <ul>
            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" class="avatar_song" title="Phải Giữ Em Thôi - Thanh Hưng Idol" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SiFcoYi5pFmW','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/09/4/5/3/d/1568011010000.jpg" alt="phai giu em thoi - thanh hung idol" title="Phải Giữ Em Thôi - Thanh Hưng Idol">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" class="name_song" title="Phải Giữ Em Thôi - Thanh Hưng Idol" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SiFcoYi5pFmW','','title']);">Phải Giữ Em Thôi</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-thanh-hung.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Thanh Hưng Idol trình bày" target="_blank">Thanh Hưng Idol</a></div>
                </div>

                <span id="NCTCounter_sg_6064272" class="icon_listen" wgct="1">291.055</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_SiFcoYi5pFmW" onclick="return NCTAddPlaylist.showBox('SiFcoYi5pFmW');" class="button_add_playlist" title="Thêm bài hát Phải Giữ Em Thôi - Thanh Hưng Idol vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" class="button_playing" title="Nghe bài hát Phải Giữ Em Thôi - Thanh Hưng Idol" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SiFcoYi5pFmW','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/mang-chung-ha-nhi.29xpL9CrWwtt.html" class="avatar_song" title="Mang Chủng - Hà Nhi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','29xpL9CrWwtt','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/24/7/b/3/d/1569313480704.jpg" alt="mang chung - ha nhi" title="Mang Chủng - Hà Nhi">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/mang-chung-ha-nhi.29xpL9CrWwtt.html" class="name_song" title="Mang Chủng - Hà Nhi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','29xpL9CrWwtt','','title']);">Mang Chủng</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-ha-nhi.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Hà Nhi trình bày" target="_blank">Hà Nhi</a></div>
                </div>

                <span id="NCTCounter_sg_6090040" class="icon_listen" wgct="1">163.004</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_29xpL9CrWwtt" onclick="return NCTAddPlaylist.showBox('29xpL9CrWwtt');" class="button_add_playlist" title="Thêm bài hát Mang Chủng - Hà Nhi vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/mang-chung-ha-nhi.29xpL9CrWwtt.html" class="button_playing" title="Nghe bài hát Mang Chủng - Hà Nhi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','29xpL9CrWwtt','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/co-tham-khong-ve-phat-ho-ft-jokes-bii-ft-thien.mlnzEWoupew1.html" class="avatar_song" title="Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mlnzEWoupew1','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/16/b/0/f/f/1568593417642.jpg" alt="co tham khong ve - phat ho, jokes bii, thien" title="Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/co-tham-khong-ve-phat-ho-ft-jokes-bii-ft-thien.mlnzEWoupew1.html" class="name_song" title="Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mlnzEWoupew1','','title']);">Cô Thắm Không Về</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/tim-kiem?q=Ph%C3%A1t+H%E1%BB%93&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Phát Hồ trình bày" target="_blank">Phát Hồ</a>, <a href="https://www.nhaccuatui.com/tim-kiem?q=Jokes+Bii&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Jokes Bii trình bày" target="_blank">Jokes Bii</a>, <a href="https://www.nhaccuatui.com/tim-kiem?q=Thi%E1%BB%87n&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Thiện trình bày" target="_blank">Thiện</a></div>
                </div>

                <span id="NCTCounter_sg_6067247" class="icon_listen" wgct="1">5.160.601</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_mlnzEWoupew1" onclick="return NCTAddPlaylist.showBox('mlnzEWoupew1');" class="button_add_playlist" title="Thêm bài hát Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/co-tham-khong-ve-phat-ho-ft-jokes-bii-ft-thien.mlnzEWoupew1.html" class="button_playing" title="Nghe bài hát Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mlnzEWoupew1','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/danh-roi-mhanh-ft-rastz.mcnIM2jm3tFG.html" class="avatar_song" title="Đánh Rơi - M.Hanh, Rastz" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mcnIM2jm3tFG','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/19/1/5/4/8/1568888805928.jpg" alt="danh roi - m.hanh, rastz" title="Đánh Rơi - M.Hanh, Rastz">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/danh-roi-mhanh-ft-rastz.mcnIM2jm3tFG.html" class="name_song" title="Đánh Rơi - M.Hanh, Rastz" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mcnIM2jm3tFG','','title']);">Đánh Rơi</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-m-hanh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ M.Hanh trình bày" target="_blank">M.Hanh</a>, <a href="https://www.nhaccuatui.com/nghe-si-rastz.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Rastz trình bày" target="_blank">Rastz</a></div>
                </div>

                <span id="NCTCounter_sg_6082866" class="icon_listen" wgct="1">14.252</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_mcnIM2jm3tFG" onclick="return NCTAddPlaylist.showBox('mcnIM2jm3tFG');" class="button_add_playlist" title="Thêm bài hát Đánh Rơi - M.Hanh, Rastz vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/danh-roi-mhanh-ft-rastz.mcnIM2jm3tFG.html" class="button_playing" title="Nghe bài hát Đánh Rơi - M.Hanh, Rastz" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mcnIM2jm3tFG','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/ngu-nghech-nguyen-hoang-dung.7Q6sJ0CzcW6f.html" class="avatar_song" title="Ngu Nghếch - Nguyễn Hoàng Dũng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','7Q6sJ0CzcW6f','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/19/1/5/4/8/1568865145364.jpg" alt="ngu nghech - nguyen hoang dung" title="Ngu Nghếch - Nguyễn Hoàng Dũng">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/ngu-nghech-nguyen-hoang-dung.7Q6sJ0CzcW6f.html" class="name_song" title="Ngu Nghếch - Nguyễn Hoàng Dũng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','7Q6sJ0CzcW6f','','title']);">Ngu Nghếch</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-nguyen-hoang-dung.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Nguyễn Hoàng Dũng trình bày" target="_blank">Nguyễn Hoàng Dũng</a></div>
                </div>

                <span id="NCTCounter_sg_6081163" class="icon_listen" wgct="1">110.301</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_7Q6sJ0CzcW6f" onclick="return NCTAddPlaylist.showBox('7Q6sJ0CzcW6f');" class="button_add_playlist" title="Thêm bài hát Ngu Nghếch - Nguyễn Hoàng Dũng vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/ngu-nghech-nguyen-hoang-dung.7Q6sJ0CzcW6f.html" class="button_playing" title="Nghe bài hát Ngu Nghếch - Nguyễn Hoàng Dũng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','7Q6sJ0CzcW6f','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/choir-alan-walker-remix-guy-sebastian-ft-alan-walker.hSACRBR88ZPr.html" class="avatar_song" title="Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','hSACRBR88ZPr','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/27/2/1/a/3/1569552446889.jpg" alt="choir (alan walker remix) - guy sebastian, alan walker" title="Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/choir-alan-walker-remix-guy-sebastian-ft-alan-walker.hSACRBR88ZPr.html" class="name_song" title="Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','hSACRBR88ZPr','','title']);">Choir (Alan Walker Remix)</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-guy-sebastian.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Guy Sebastian trình bày" target="_blank">Guy Sebastian</a>, <a href="https://www.nhaccuatui.com/nghe-si-alan-walker.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Alan Walker trình bày" target="_blank">Alan Walker</a></div>
                </div>

                <span id="NCTCounter_sg_6097702" class="icon_listen" wgct="1">6.603</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_hSACRBR88ZPr" onclick="return NCTAddPlaylist.showBox('hSACRBR88ZPr');" class="button_add_playlist" title="Thêm bài hát Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/choir-alan-walker-remix-guy-sebastian-ft-alan-walker.hSACRBR88ZPr.html" class="button_playing" title="Nghe bài hát Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','hSACRBR88ZPr','','icon-play']);"></a>
                </div>
              </div>
            </li>

          </ul>
          </div>

          <div class="col-md-6" style="padding-left: 30px">
            <ul>
            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/clementine-halsey.9paFHu5nP44q.html" class="avatar_song" title="Clementine - Halsey" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','9paFHu5nP44q','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/29/b/f/9/2/1569737813439.jpg" alt="clementine - halsey" title="Clementine - Halsey">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/clementine-halsey.9paFHu5nP44q.html" class="name_song" title="Clementine - Halsey" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','9paFHu5nP44q','','title']);">Clementine</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-halsey.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Halsey trình bày" target="_blank">Halsey</a></div>
                </div>

                <span id="NCTCounter_pn_6098647" class="icon_listen" wgct="1">47</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_9paFHu5nP44q" onclick="return NCTAddPlaylist.showBox('9paFHu5nP44q');" class="button_add_playlist" title="Thêm bài hát Clementine - Halsey vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/clementine-halsey.9paFHu5nP44q.html" class="button_playing" title="Nghe bài hát Clementine - Halsey" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','9paFHu5nP44q','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/lonely-noah-cyrus.dMvEwsgX3oJh.html" class="avatar_song" title="Lonely - Noah Cyrus" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','dMvEwsgX3oJh','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/27/2/1/a/3/1569552572139.jpg" alt="lonely - noah cyrus" title="Lonely - Noah Cyrus">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/lonely-noah-cyrus.dMvEwsgX3oJh.html" class="name_song" title="Lonely - Noah Cyrus" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','dMvEwsgX3oJh','','title']);">Lonely</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-noah-cyrus.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Noah Cyrus trình bày" target="_blank">Noah Cyrus</a></div>
                </div>

                <span id="NCTCounter_sg_6097704" class="icon_listen" wgct="1">5.145</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_dMvEwsgX3oJh" onclick="return NCTAddPlaylist.showBox('dMvEwsgX3oJh');" class="button_add_playlist" title="Thêm bài hát Lonely - Noah Cyrus vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/lonely-noah-cyrus.dMvEwsgX3oJh.html" class="button_playing" title="Nghe bài hát Lonely - Noah Cyrus" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','dMvEwsgX3oJh','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/somebody-like-you-dvbbs-ft-saro.SuByRRkHcO3w.html" class="avatar_song" title="Somebody Like You - DVBBS, Saro" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SuByRRkHcO3w','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/03/01/f/6/5/7/1551440571071.jpg" alt="somebody like you - dvbbs, saro" title="Somebody Like You - DVBBS, Saro">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/somebody-like-you-dvbbs-ft-saro.SuByRRkHcO3w.html" class="name_song" title="Somebody Like You - DVBBS, Saro" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SuByRRkHcO3w','','title']);">Somebody Like You</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-dvbbs.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ DVBBS trình bày" target="_blank">DVBBS</a>, <a href="https://www.nhaccuatui.com/tim-kiem?q=Saro&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Saro trình bày" target="_blank">Saro</a></div>
                </div>

                <span id="NCTCounter_pn_5892477" class="icon_listen" wgct="1">194.683</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_SuByRRkHcO3w" onclick="return NCTAddPlaylist.showBox('SuByRRkHcO3w');" class="button_add_playlist" title="Thêm bài hát Somebody Like You - DVBBS, Saro vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/somebody-like-you-dvbbs-ft-saro.SuByRRkHcO3w.html" class="button_playing" title="Nghe bài hát Somebody Like You - DVBBS, Saro" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SuByRRkHcO3w','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/haunted-heart-christina-aguilera.O1MDCIplemqo.html" class="avatar_song" title="Haunted Heart - Christina Aguilera" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','O1MDCIplemqo','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/27/2/1/a/3/1569517654020.jpg" alt="haunted heart - christina aguilera" title="Haunted Heart - Christina Aguilera">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/haunted-heart-christina-aguilera.O1MDCIplemqo.html" class="name_song" title="Haunted Heart - Christina Aguilera" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','O1MDCIplemqo','','title']);">Haunted Heart</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-christina-aguilera.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Christina Aguilera trình bày" target="_blank">Christina Aguilera</a></div>
                </div>

                <span id="NCTCounter_sg_6097649" class="icon_listen" wgct="1">2.624</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_O1MDCIplemqo" onclick="return NCTAddPlaylist.showBox('O1MDCIplemqo');" class="button_add_playlist" title="Thêm bài hát Haunted Heart - Christina Aguilera vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/haunted-heart-christina-aguilera.O1MDCIplemqo.html" class="button_playing" title="Nghe bài hát Haunted Heart - Christina Aguilera" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','O1MDCIplemqo','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/di-du-dua-di-bich-phuong.fNLeUd3SjD7G.html" class="avatar_song" title="Đi Đu Đưa Đi - Bích Phương" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','fNLeUd3SjD7G','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/08/28/7/4/3/a/1566982655403.jpg" alt="di du dua di - bich phuong" title="Đi Đu Đưa Đi - Bích Phương">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/di-du-dua-di-bich-phuong.fNLeUd3SjD7G.html" class="name_song" title="Đi Đu Đưa Đi - Bích Phương" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','fNLeUd3SjD7G','','title']);">Đi Đu Đưa Đi</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-bich-phuong.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Bích Phương trình bày" target="_blank">Bích Phương</a></div>
                </div>

                <span id="NCTCounter_sg_6059493" class="icon_listen" wgct="1">5.175.740</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_fNLeUd3SjD7G" onclick="return NCTAddPlaylist.showBox('fNLeUd3SjD7G');" class="button_add_playlist" title="Thêm bài hát Đi Đu Đưa Đi - Bích Phương vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/di-du-dua-di-bich-phuong.fNLeUd3SjD7G.html" class="button_playing" title="Nghe bài hát Đi Đu Đưa Đi - Bích Phương" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','fNLeUd3SjD7G','','icon-play']);"></a>
                </div>
              </div>
            </li>

            <li>
              <div class="box-content-music-list home">
                <div class="info_song" style="color: #999999;">
                  <a href="https://www.nhaccuatui.com/bai-hat/sau-con-mua-nang-se-ve-song-luan.YDvHsxBPeBrS.html" class="avatar_song" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','YDvHsxBPeBrS','','title']);">
                    <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/27/2/1/a/3/1569578504719.jpg" alt="sau con mua nang se ve - song luan" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân">
                  </a>
                  <h3><a href="https://www.nhaccuatui.com/bai-hat/sau-con-mua-nang-se-ve-song-luan.YDvHsxBPeBrS.html" class="name_song" title="Sau Cơn Mưa Nắng Sẽ Về - Song Luân" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','YDvHsxBPeBrS','','title']);">Sau Cơn Mưa Nắng Sẽ Về</a></h3>
                  <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-song-luan.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Song Luân trình bày" target="_blank">Song Luân</a></div>
                </div>

                <span id="NCTCounter_sg_6097964" class="icon_listen" wgct="1">4.509</span>
                <div class="box_song_action">
                  <a href="javascript:;" id="btnShowBoxPlaylist_YDvHsxBPeBrS" onclick="return NCTAddPlaylist.showBox('YDvHsxBPeBrS');" class="button_add_playlist" title="Thêm bài hát Sau Cơn Mưa Nắng Sẽ Về - Song Luân vào playlist yêu thích"></a>
                  <a href="https://www.nhaccuatui.com/bai-hat/sau-con-mua-nang-se-ve-song-luan.YDvHsxBPeBrS.html" class="button_playing" title="Nghe bài hát Sau Cơn Mưa Nắng Sẽ Về - Song Luân" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','YDvHsxBPeBrS','','icon-play']);"></a>
                </div>
              </div>
            </li>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>

</div>
</body>
</html>


