<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h3 class="card-header">Register</h3>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username"><i class="fas fa-users"></i>  Username</label>
          <input id="username" type="text" formControlName="username" class="form-control"/>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
            Must be filled!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched">
            Minimum 5 characters!
          </div>
        </div>

        <div class="form-group">
          <label for="password"><i class="fas fa-key"></i>  Password</label>
          <input id="password" type="password"  formControlName="password" class="form-control"/>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
            Must be filled!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
            Mật khẩu của bạn tối thiểu 6 ký tự !!!
          </div>
        </div>

        <div class="form-group">
          <label for="firstName"><i class="fas fa-user-tie"></i>  First Name</label>
          <input id="firstName" type="text" formControlName="firstName" class="form-control"/>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">
            Must be filled!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('firstName').hasError('minlength') && registerForm.get('firstName').touched">
            Toi thieu 2 ky tu
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('firstName').hasError('maxlength') && registerForm.get('firstName').touched">
            Toi da 20 ky tu
          </div>
        </div>

        <div class="form-group">
          <label for="lastName"><i class="fas fa-user-tie"></i>  Last Name</label>
          <input id="lastName" type="text" formControlName="lastName" class="form-control"/>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">
            Must be filled!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('lastName').hasError('minlength') && registerForm.get('lastName').touched">
            Toi thieu 2 ky tu
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('lastName').hasError('maxlength') && registerForm.get('lastName').touched">
            Toi da 20 ky tu
          </div>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" [value]=true formControlName="gender">
            <span>male</span>
          </label>
          <label>
            <input type="radio" [value]=false formControlName="gender">
            <span>female</span>
          </label>
        </div>

        <div class="form-group">
          <label for="birthDate"><i class="fas fa-table"></i>  BirthDate</label>
          <input id="birthDate" type="date" formControlName="birthDate" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="phoneNumber"><i class="fas fa-phone"></i>  PhoneNumber</label>
          <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="email"><i class="fas fa-envelope-square">  Email</i></label>
          <input id="email" type="text" formControlName="email" class="form-control"/>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
            Must be filled!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
            Bạn vui lòng nhập đúng định dạng !
          </div>
        </div>



        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <p *ngIf="message"> {{message}}</p>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
