<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<ng-container *ngIf="currentUser">
  <app-card [type]="2" [imgSrc]="currentUser.avatarUrl" [title]="'Profile'" [showEditButton]="true" (showEditForm)="showEditForm=!showEditForm">
    <span class="lambda_card-button"><i class="fas fa-user-edit"></i></span>
    <div class="lambda_card-text">
      <h6 class="d-inline">Name: </h6><span class="text-secondary">{{currentUser.username}}</span><br>
      <h6 class="d-inline">First Name: </h6><span class="text-secondary">{{currentUser.firstName}}</span><br>
      <h6 class="d-inline">Last Name: </h6><span class="text-secondary">{{currentUser.lastName}}</span><br>
      <h6 class="d-inline">Date of Birth: </h6><span class="text-secondary">{{currentUser.birthDate | date}}</span><br>
      <h6 class="d-inline">Gender: </h6>
      <span *ngIf="currentUser.gender"><i class="fas fa-mars text-primary fa-1x"></i></span>
      <span *ngIf="!currentUser.gender"><i class="fas fa-venus fa-1x" style="color: hotpink"></i></span>
      <br>
      <h6 class="d-inline">Email: </h6><span  class="text-secondary">{{currentUser.email}}</span><br>
    </div>
  </app-card>
</ng-container>
<ng-container *ngIf="showEditForm">
  <app-update-profile></app-update-profile>
</ng-container>
