<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<ng-container *ngIf="user">
  <app-card [type]="2" [imgSrc]="user.avatarUrl? user.avatarUrl : '../../../assets/avatars/default-user-avatar.png'" [title]="'Profile' | translate" [showEditButton]="currentUser && userId==currentUser.id" (showEditForm)="showEditForm=!showEditForm">
    <span class="lambda_card-button"><i class="fas fa-user-edit"></i></span>
    <div class="lambda_card-text_2">
      <h6 class="d-inline">{{ 'Username' | translate }}: </h6>
      <span *ngIf="user.username" class="text-secondary">{{user.username}}</span>
      <span *ngIf="!user.username" class="text-secondary">**********</span>
      <br>
      <h6 class="d-inline">{{ 'First Name' | translate }}: </h6><span class="text-secondary">{{user.firstName}}</span><br>
      <h6 class="d-inline">{{ 'Last Name' | translate }}: </h6><span class="text-secondary">{{user.lastName}}</span><br>
      <h6 class="d-inline">{{ 'BirthDate' | translate }}: </h6>
      <span *ngIf="user.birthDate" class="text-secondary">{{user.birthDate | date: 'fullDate' : '' : translate.currentLang}}</span>
      <span *ngIf="!user.birthDate" class="text-secondary">**********</span>
      <br>
      <h6 class="d-inline">{{ 'Gender' | translate }}: </h6>
      <span *ngIf="user.gender"><i class="fas fa-mars text-primary fa-1x"></i></span>
      <span *ngIf="!user.gender"><i class="fas fa-venus fa-1x" style="color: hotpink"></i></span>
      <br>
      <h6 class="d-inline">Email: </h6>
      <span *ngIf="user.email" class="text-secondary">{{user.email}}</span>
      <span *ngIf="!user.email && user.email !== null" class="text-secondary">**********</span><br>
    </div>
  </app-card>
</ng-container>
<div *ngIf="showEditForm" class="update_profile">
  <app-card [type]="3" [title]="'Edit Profile' | translate">
    <app-update-profile class="lambda_card-text_3"></app-update-profile>
  </app-card>
</div>
<div *ngIf="message" class="alert alert-danger mt-3 mb-0" >{{ message | translate }}</div>
