<nav class="navbar navbar-expand-lg py-0">
  <button
    (click)="isCollapsed=!isCollapsed"
    class="navbar-toggler py-2 mx-2 my-2"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse thead-dark ml-3" id="navbarSupportedContent">
    <div class="navbar-nav">
      <div class="nav-item px-2 mx-1" routerLinkActive="active rounded" style="width: 9rem">
        <a class="nav-link p-0" [routerLink]="['/home']">
          <img style="width: 100%" [src]="('baseHref' | env) + '/assets/background/alpha-sound-bg2.png'" alt=""
        /></a>
      </div>
      <div class="nav-item px-2 pt-1 mx-1" routerLinkActive="active rounded">
        <a class="nav-link" [routerLink]="['/song']"
          ><h3><i class="fas fa-music"></i> {{ 'Song' | translate }}</h3></a
        >
      </div>
      <div class="nav-item px-2 pt-1 mx-1" routerLinkActive="active rounded">
        <a class="nav-link" [routerLink]="['/album']"
          ><h3><i class="fas fa-compact-disc"></i> {{ 'Album' | translate }}</h3></a
        >
      </div>
      <div class="nav-item px-2 pt-1 mx-1" routerLinkActive="active rounded">
        <a class="nav-link" [routerLink]="['/artist']"
          ><h3><i class="fas fa-microphone-alt"></i> {{ 'Artist' | translate }}</h3></a
        >
      </div>
    </div>

    <div class="slider-container d-inline-block text-white pl-3 mx-1 rounded-pill" style="background-color: #6c757d !important">
      <label class="bg-secondary" for="myRange"><i class="fas fa-moon mt-2"></i></label>
      <input
        type="range"
        min="1"
        [max]="2"
        [value]="setting.darkMode ? 2 : 1"
        class="custom-range bg-secondary pt-2"
        id="myRange"
        (change)="turnDarkThemeOnOff()"
      />
    </div>

    <div class="search_upload ml-auto mr-1">
      <div ngbDropdown class="d-inline-block mx-1" *ngIf="!!currentUser">
        <button
          ngbDropdownToggle
          class="dropdown-toggle btn btn-info mx-0 rounded-pill"
          id="uploadSelect"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-upload"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="uploadSelect">
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/song','upload']">{{ 'Upload Song' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/album','upload']">{{ 'Upload Album' | translate }}</a>
        </div>
      </div>

      <div class="d-inline-block mx-1">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-inline">
          <input
            class="form-control rounded-pill mr-1"
            type="search"
            [placeholder]="'Search' | translate"
            aria-label="Search"
            formControlName="searchText"
            style="width: 12rem"
          />
          <button type="submit" class="btn btn-info mx-1 rounded-circle"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block ml-auto mr-1" *ngIf="!currentUser" placement="bottom-right" display="dynamic">
    <button class="btn btn-info rounded-pill" id="dropdownForm1" ngbDropdownToggle>
      <i class="fas fa-sign-in-alt"></i> {{ 'Sign In' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
      <form [formGroup]="loginForm" (ngSubmit)="onSignIn()" class="px-4 py-3" vgFocusFirstInvalid [form]="loginForm">
        <div class="form-group">
          <label for="username">{{ 'Username' | translate }}</label>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            id="username"
            [placeholder]="'common.placeholder.username' | translate"
          />
          <vg-error-section [label]="'common.label.username' | translate" [group]="loginForm" controlName="username"></vg-error-section>
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword1">{{ 'Password' | translate }}</label>
          <input
            formControlName="password"
            type="password"
            autocomplete
            class="form-control"
            id="exampleDropdownFormPassword1"
            [placeholder]="'common.placeholder.password' | translate"
          />
          <vg-error-section [label]="'common.label.password' | translate" [group]="loginForm" controlName="password"></vg-error-section>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck" formControlName="rememberMe" />
          <label class="form-check-label" for="dropdownCheck">{{ 'Remember Me' | translate}}</label>
        </div>
        <button type="submit" class="btn btn-info mt-2" [disabled]="loginForm.invalid">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <span>{{ 'Sign In' | translate }}</span>
        </button>
      </form>
      <div class="dropdown-divider"></div>
      <a ngbDropdownItem class="dropdown-item text-center" [routerLink]="['/register']">{{ 'New around here? Sign up' | translate}}</a>
      <a ngbDropdownItem class="dropdown-item text-center" [routerLink]="['/reset-password']">{{ 'Forgot password?' | translate }}</a>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block ml-auto mr-1" *ngIf="!!currentUser" placement="bottom" display="dynamic">
    <button
      ngbDropdownToggle
      class="dropdown-toggle btn btn-warning rounded-pill"
      id="userProfile"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="d-inline-block user-avatar" *ngIf="!currentUser?.avatar_url"> <i class="fas fa-user-circle"></i></span>
      <img
        class="d-inline-block user-avatar"
        *ngIf="!!currentUser?.avatar_url"
        [src]="currentUser?.avatar_url"
        onerror="src = '../../../assets/images/avatar.jpg'"
        alt=""
      />
      <span> {{ currentUser.user_name }}</span>
    </button>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userProfile">
      <a ngbDropdownItem class="dropdown-item" [routerLink]="['/profile', currentUser.user_name]"
        ><span><i class="fas fa-user"></i> {{ 'Profile' | translate }}</span></a
      >
      <a ngbDropdownItem class="dropdown-item" [routerLink]="['/playlist']"
        ><span><i class="fas fa-headphones-alt"></i> {{ 'Playlist' | translate }}</span></a
      >
      <div class="dropdown-divider"></div>
      <a ngbDropdownItem class="dropdown-item" [routerLink]="['/uploaded']"><i class="fas fa-upload"></i> {{ 'Uploaded' | translate }}</a>
      <a ngbDropdownItem class="dropdown-item" [routerLink]="['/favorites']"
        ><i class="fab fa-gratipay"></i> {{ 'Favorites' | translate }}</a
      >
      <a ngbDropdownItem (click)="logout()" class="dropdown-item" tabindex="-1" aria-disabled="true"
        ><i class="fas fa-sign-out-alt"></i> {{ 'Sign Out' | translate }}</a
      >
    </div>
  </div>
  <div class="d-inline-block ml-auto mr-2">
    <label for="language" class="d-inline-block bg-secondary text-white px-2 my-0 rounded-pill"
      >{{ 'Language' | translate }}
      <select class="custom-select mx-1 rounded-pill" name="" id="language" #language (change)="translatePage()" style="width: 6rem">
        <option [selected]="this.translate.getBrowserLang() === 'en'" value="en">{{ 'English' | translate}}</option>
        <option [selected]="this.translate.getBrowserLang() === 'vi'" value="vi">{{ 'Vietnamese' | translate }}</option>
      </select>
    </label>
  </div>
</nav>
