.container {
  margin-bottom: 10rem;
}

@media screen and (min-width: 1230px) and (max-width: 1454px) {
  .container {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1228px) {
  .container {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 414px) {
  .container {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 354px) {
  .container {
    margin-top: 8rem;
  }
}
