
@media screen and (max-width: 1874px) {
  .container {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1454px) {
  .container {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1228px) {
  .container {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 770px) and (max-width: 990px) {
  .container {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .container {
    margin-top: 1rem;
  }
}
