<div [class.dark-theme]="setting.darkMode">
  <div class="fixed-top">
    <app-navbar></app-navbar>
  </div>
  <div class="container pb-5">
    <div class="row" style="margin-bottom: 8rem">
      <div class="col-sm-9 px-0" style="margin-top: 3rem">
        <router-outlet class="col-sm-9 px-0" ></router-outlet>
      </div>
      <app-sidebar class="col-sm-3" ></app-sidebar>
    </div>
  </div>
  <app-modal [isPoppedUp]="sessionTimeoutNotification">
    <p class="modal-body">{{ 'Your login session has expired.' | translate }} <br>{{ 'Please try to log in again.' | translate }}</p>
  </app-modal>
  <div class="fixed-bottom">
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle"
                               [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
                               [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="expanded">
    </ngx-audio-player>
  </div>
</div>

