<app-modal [action]="'delete'">
  <div class="modal-body">
    <span>{{'Do you want to remove from playlist song' | translate}} {{ ' ' }} {{ name }}?</span>
    <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-danger]="error" [class.alert-success]="!error">{{ message | translate}}</div>
  </div>
  <button (click)=onSubmit() [disabled]="loading || deleted" class="btn btn-primary modal_footer">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{'Remove' | translate }}
  </button>
</app-modal>
