<ng-container *ngIf="album">
  <app-card [type]="2" [showEditButton]="false" [title]="'feature.album.album_info' | translate" [imgSrc]="album.coverUrl">
    <app-album-play-btn card2LeftBtn1 [album]="album"></app-album-play-btn>
    <app-album-like-btn card2LeftBtn2 [album]="album"></app-album-like-btn>
    <div cardText2>
      <h6 class="d-inline">{{ 'common.label.title' | translate }}:&nbsp;</h6>
      <span>{{album.title}}</span>
      <br />
      <h6 class="d-inline">{{ 'common.entity.artist' | translate }}:&nbsp;</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let artist of artistPage.content; index as i">
          <img class="mx-1" [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}" [src]="artist.avatarUrl" alt="" />
          <a [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}">{{artist.name}}</a>
        </li>
      </ul>
      <ngb-pagination
        *ngIf="artistPage.totalPages > 1"
        [collectionSize]="artistPage.totalElements"
        [page]="artistPage.pageable?.pageNumber + 1"
        [pageSize]="artistPage.pageable?.pageSize"
        (pageChange)="getArtistPage($event - 1)"
      ></ngb-pagination>
      <h6 class="d-inline">{{ 'feature.song.release_date' | translate }}:&nbsp;</h6>
      <span>{{album.releaseDate | date: 'dd/MM/yyyy'}}</span>
      <br />
      <h6 class="d-inline">{{ 'common.entity.genre' | translate }}:&nbsp;</h6>
      <span>{{album.genres | stringArray}}</span>
      <br />
      <h6 class="d-inline">{{ 'common.entity.tag' | translate }}:&nbsp;</h6>
      <span>{{album.tags | stringArray}}</span>
      <br />
      <h6 class="d-inline">{{ 'common.entity.country' | translate }}:&nbsp;</h6>
      <span class="text-secondary">{{ album.country?.name }}</span>
      <br />
      <h6 class="d-inline">{{ 'common.entity.theme' | translate}}:&nbsp;</h6>
      <span class="text-secondary">{{ album.theme?.name }}</span>
      <br />
    </div>
  </app-card>
</ng-container>
<div *ngIf="album">
  <table class="table table-striped py-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'common.label.title' | translate }}</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="['/song/detail']" [queryParams]="{id: song.id}" *ngFor="let song of songPage.content; index as i">
        <th scope="row">{{ song.rn }}</th>
        <td>
          <a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}"><h5>{{song.title}}</h5></a>
          <a *ngFor="let artist of song.artists; index as j"
            ><small>{{ artist.name }}{{ j === song.artists.length - 1 ? '' : ', '}}</small></a
          >
        </td>
        <td>
          <small>{{ song.duration | duration }}</small>
        </td>
        <td>
          <span class="float-right"
            ><small><i class="bi bi-headphones"></i> {{song.listeningFrequency}}</small></span
          >
        </td>
        <td>
          <app-song-like-btn [song]="song"></app-song-like-btn>
          <app-song-menu-btn [song]="song"></app-song-menu-btn>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    *ngIf="songPage.totalPages > 1"
    [collectionSize]="songPage.totalElements"
    [page]="songPage.pageable?.pageNumber + 1"
    [pageSize]="songPage.pageable?.pageSize"
    (pageChange)="getSongPage($event - 1)"
  ></ngb-pagination>
</div>
<app-comment-box *ngIf="albumId" [type]="'ALBUM'" [id]="albumId"></app-comment-box>
