<img src="https://i.ytimg.com/vi/z3iCp7U_fZo/maxresdefault.jpg{{album.coverUrl}}"style=" object-fit: cover;
  width: 100%;
  height: 200px;" alt="">

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"><b>Name</b></th>
    <th scope="col"><b>Artists</b></th>
    <th scope="col"><b>country</b></th>
    <th scope="col"><b>Release Date</b></th>
    <th scope="col"><b>theme</b></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of songList; index as i">
  <tr>
    <!--        <th scope="row">{{ i + 1 }}</th>  đang bị lỗi ở biến i-->
    <td>{{ album.songs }}</td>
    <td>{{ album.artists}}</td>
    <td>{{ album.country}}</td>
    <td>{{ album.releaseDate}}</td>
    <td>{{ album.theme}}</td>
   <td>     <button class="btn btn-primary" (click)="addToPlaylist(album)" [disabled]="album.isDisabled"><i
  class="fas fa-play-circle"></i></button></td>
  </tr>
  </tbody>
</table>
