<ng-container *ngIf="album">
  <app-card [type]="2" [showEditButton]="false" [title]="'feature.album.album_info' | translate" [imgSrc]="album.coverUrl">
    <app-album-play-btn card2LeftBtn1 [album]="album"></app-album-play-btn>
    <div cardText2>
      <h6 class="d-inline">{{ 'Title' | translate }}:</h6>
      <span class="text-secondary">{{album.title}}</span>
      <br />
      <h6 class="d-inline">{{ 'Artist(s)' | translate }}:</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let artist of album.artists; index as i">
          <img class="mx-1" [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}" [src]="artist.avatarUrl" alt="" />
          <a [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}">{{artist.name}}</a>
        </li>
      </ul>
      <h6 class="d-inline">{{ 'Release Date' | translate }}:</h6>
      <span class="text-secondary">{{album.releaseDate | date: 'dd/MM/yyyy'}}</span><br />
      <h6 class="d-inline">{{ 'Genre(s)' | translate }}:</h6>
      <ul *ngIf="!!album.genres && album.genres.length > 0">
        <li *ngFor="let genre of album.genres">{{ genre.name }}</li>
      </ul>
      <ul *ngIf="!!album.tags && album.tags.length > 0">
        <li *ngFor="let genre of album.tags">{{ genre.name }}</li>
      </ul>
      <br />
      <h6 class="d-inline">{{ 'common.entity.country' | translate }}:</h6>
      <span *ngIf="!!album.country" class="text-secondary">{{ album.country.name }}</span><br />
      <h6 class="d-inline">{{ 'Theme' | translate}}:</h6>
      <span *ngIf="!!album.theme" class="text-secondary">{{ album.theme.name }}</span><br />
    </div>
  </app-card>
</ng-container>
<div *ngIf="album">
  <table class="table table-striped py-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'Title' | translate }}</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="['/song/detail']" [queryParams]="{id: song.id}" *ngFor="let song of songPage.content; index as i">
        <th scope="row">{{ song.rn }}</th>
        <td>
          <a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}"><h5>{{song.title}}</h5></a>
          <a *ngFor="let artist of song.artists; index as j"
            ><small>{{ artist.name }}{{ j === song.artists.length - 1 ? '' : ', '}}</small></a
          >
        </td>
        <td>
          <small>{{ song.duration | duration }}</small>
        </td>
        <td>
          <span class="float-right"
            ><small><i class="bi bi-headphones"></i> {{song.listeningFrequency}}</small></span
          >
        </td>
        <td>
          <app-song-like-btn [song]="song"></app-song-like-btn>
          <app-song-menu-btn [song]="song"></app-song-menu-btn>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    *ngIf="songPage.totalPages > 1"
    [collectionSize]="songPage.totalElements"
    [page]="songPage.pageable?.pageNumber + 1"
    [pageSize]="songPage.pageable?.pageSize"
    (pageChange)="getSongPage($event - 1)"
  ></ngb-pagination>
</div>
