<nav class="navbar navbar-expand-lg py-0">
  <button (click)="isCollapsed=!isCollapsed" class="navbar-toggler py-2 mx-2 my-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse thead-dark ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item px-3 mx-1" routerLinkActive="active rounded" style="width: 200px">
        <a class="nav-link p-0" [routerLink]="['/home']"><img style="width: 100%" src="../../../assets/images/b0c4e2d8-1c0a-4954-9134-fe67a7b453be_200x200.png" alt=""></a>
      </li>
      <li class="nav-item px-3 mx-1" routerLinkActive="active rounded">
        <a class="nav-link" [routerLink]="['/song']"><h3><i class="fas fa-music"></i> {{ 'Song' | translate }}</h3></a>
      </li>
      <li class="nav-item px-3 mx-1" routerLinkActive="active rounded">
        <a class="nav-link" [routerLink]="['/album']"><h3><i class="fas fa-compact-disc"></i> {{ 'Album' | translate }}</h3></a>
      </li>
      <li class="nav-item px-3 mx-1" routerLinkActive="active rounded">
        <a class="nav-link" [routerLink]="['/artist']"><h3><i class="fas fa-microphone-alt"></i> {{ 'Artist' | translate }}</h3></a>
      </li>
    </ul>
    <div class="search_upload">
      <div ngbDropdown class="d-inline-block mr-sm-2" *ngIf="!!currentUser" >
        <button ngbDropdownToggle class="nav-link dropdown-toggle btn btn-info" id="uploadSelect" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-upload"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="uploadSelect">
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/song','upload']">{{ 'Upload Song' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/album','upload']">{{ 'Upload Album' | translate }}</a>
        </div>
      </div>

      <div class="d-inline-block mr-sm-2">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-inline">
          <input class="form-control" type="search" [placeholder]="'Search' | translate" aria-label="Search" formControlName="searchText" style="width: 12rem;">
          <button type="submit" class="btn btn-info mx-2"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    </div>
  <div>
    <div ngbDropdown class="d-inline-block mr-sm-2" *ngIf="!currentUser">
      <button class="btn btn-info" id="dropdownForm1" ngbDropdownToggle><i class="fas fa-sign-in-alt"></i> {{ 'Sign In' | translate}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
        <form [formGroup]="loginForm" (ngSubmit)="onSignIn()" class="px-4 py-3">
          <div class="form-group">
            <label for="exampleDropdownFormEmail1">{{ 'Username' | translate }}</label>
            <input formControlName="username" type="text" class="form-control" id="exampleDropdownFormEmail1" [placeholder]="('Enter' | translate) + ' ' + ('Username' | translate)" >
            <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('username').hasError('required') && (loginForm.get('username').touched || this.submitted)">
              {{ 'Username' | translate }}{{' '}}{{ 'must be filled' | translate }}{{'!'}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('username').hasError('minlength') && (loginForm.get('username').touched || this.submitted)">
              {{ 'Username' | translate }}{{' '}}{{ 'must have at least' | translate }}{{' 6 '}}{{ 'characters' | translate }}{{'!'}}
            </div>
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword1">{{ 'Password' | translate }}</label>
            <input formControlName="password" type="password" class="form-control" id="exampleDropdownFormPassword1" [placeholder]="('Enter' | translate) + ' ' + ('Password' | translate)">
            <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').touched || this.submitted)">
              {{ 'Password' | translate }}{{' '}}{{ 'must be filled' | translate }}{{'!'}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('password').hasError('minlength') && (loginForm.get('password').touched || this.submitted)">
              {{ 'Password' | translate }}{{' '}}{{ 'must have at least' | translate }}{{' 6 '}}{{ 'characters' | translate }}{{'!'}}
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="message">
            {{ message }}
          </div>
          <!--          <div class="form-check">-->
          <!--            <input type="checkbox" class="form-check-input" id="dropdownCheck">-->
          <!--            <label class="form-check-label" for="dropdownCheck">-->
          <!--              Remember me-->
          <!--            </label>-->
          <!--          </div>-->
          <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <span>{{ 'Sign In' | translate }}</span>
          </button>
        </form>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem><a ngbDropdownItem class="dropdown-item" [routerLink]="['/register']">{{ 'New around here? Sign up' | translate}}</a></button>
        <button ngbDropdownItem>{{ 'Forgot password?' | translate }}</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block mr-sm-2" *ngIf="!!currentUser">
      <button ngbDropdownToggle class="nav-link dropdown-toggle btn btn-warning" id="userProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="!currentUser.avatarUrl"><i class="fas fa-user-circle"></i></span>
        <img class="d-inline-block user-avatar" *ngIf="!!currentUser.avatarUrl" [src]="currentUser.avatarUrl" alt="">
        <span> {{ currentUser.username }}</span>
      </button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userProfile">
        <a ngbDropdownItem class="dropdown-item" [routerLink]="['/profile', currentUser.id]"><span><i class="fas fa-user"></i> {{ 'Profile' | translate }}</span></a>
        <a ngbDropdownItem class="dropdown-item" [routerLink]="['/playlist']"><span><i class="fas fa-headphones-alt"></i> {{ 'Playlist' | translate }}</span></a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem class="dropdown-item" [routerLink]="['/uploaded']"><i class="fas fa-upload"></i> {{ 'Uploaded' | translate }}</a>
        <a ngbDropdownItem class="dropdown-item" [routerLink]="['/favorites']"><i class="fab fa-gratipay"></i> {{ 'Favorites' | translate }}</a>
        <a ngbDropdownItem (click)="logout()" class="dropdown-item" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt"></i> {{ 'Sign Out' | translate }}</a>
      </div>
    </div>
    <div class="d-inline-block">
      <label for="language" class="d-inline-block bg-secondary text-white px-2 my-0 rounded">{{ 'Language' | translate }}
        <select class="custom-select mr-sm-2 ml-sm-1" name="" id="language" #language (change)="translatePage()" style="width: 6rem">
          <option [selected]="this.translate.getBrowserLang() === 'en'" value="en">{{ 'English' | translate}}</option>
          <option [selected]="this.translate.getBrowserLang() === 'vi'" value="vi">{{ 'Vietnamese' | translate }}</option>
        </select>
      </label>
    </div>
  </div>
</nav>
