.navbar  {
  background-color: lavender !important;
}

#navbarSupportedContent span{
  color: #92929d;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

#navbarSupportedContent {
  background-color: lavender;
}

//.dropdown-toggle:after { content: none }
.navbar-toggler {
  border: 0.1rem solid black;
}

.active {
  background-color: azure;
}

.active h3 {
  color: #2daaed;
}

img.user-avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}










