.navbar-nav {
  margin-left: 300px;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  margin-left: 20px;
}

.navbar  {
  padding-top: 20px;
  background-color: lavender !important;
}

#navbarSupportedContent span{
  color: #92929d;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

#navbarSupportedContent {
  background-color: lavender;
}

.mr-auto {
  margin-left: 50px;
}

//.dropdown-toggle:after { content: none }












