<nav class="navbar navbar-expand-lg" style="background-color: #fcfcfc!important;">
  <button (click)="isCollapsed=!isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse thead-dark" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/home']"><span>HOME</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/song']"><span>TOP 100</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/album']"><span>ALBUM</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/playlist']"><span>PLAYLIST</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLoggedIn">
        <a [routerLink]="['/login']" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
      </li>
      <li ngbDropdown class="nav-item dropdown" *ngIf="isLoggedIn">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>ARTISTS</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a ngbDropdownItem class="dropdown-item" href="#">Action</a>
          <a ngbDropdownItem class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" href="#">Something else here</a>
          <a ngbDropdownItem (click)="logoutClick()" class="dropdown-item" tabindex="-1" aria-disabled="true">Logout</a>
        </div>
      </li>
    </ul>
  </div>

 <div style="margin-right: 400px">
   <form class="form-inline">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   </form>
 </div>
</nav>
