<app-create-artist></app-create-artist>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" id="name">{{ 'Artist Name' | translate }}</th>
    <th scope="col" id="birthDate">{{ 'BirthDate' | translate }}</th>
    <th scope="col" >{{ 'Avatar' | translate }}</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!artistList">
    <app-spinner></app-spinner>
  </ng-container>
  <tr [routerLink]="['/','artist','detail']" [queryParams]="{id: artist.id}" *ngFor="let artist of artistList; index as i">
    <td>{{ i + 1 }}</td>
    <td><a [routerLink]="['/','artist','detail']" [queryParams]="{id: artist.id}">{{ artist.name }}</a></td>
    <td>{{ artist.birthDate | date: 'fullDate' : '' : translate.currentLang }}</td>
    <td><img [src]="artist.avatarUrl" class="avatar" alt=""></td>
    <td>
      <app-artist-delete [artist]="artist" (deleteArtist)="deleteArtist($event)"></app-artist-delete>
    </td>
    <td>
      <app-artist-edit [artist]="artist"></app-artist-edit>
    </td>
  </tr>
  </tbody>
</table>
