<app-modal-wrapper [title]="'feature.album.choose_existed_song' | translate" (closeAction)="close()">
  <div modalBody>
    <label for="typeahead-prevent-manual-entry">{{'feature.album.search_song' | translate}}:</label>
    <input
      id="typeahead-prevent-manual-entry"
      type="text"
      class="form-control"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
      (selectItem)="selectSong($event)"
    />
    <div class="p-2" style="height: 10rem">
      <h6>{{'feature.song.song_info' | translate}}:</h6>
      <hr />
      <pre>{{ selectedSong | json }}</pre>
    </div>
  </div>
  <ng-container modalFooter>
    <button class="btn btn-primary" (click)="close(selectedSong)">{{'common.button.save' | translate}}</button>
  </ng-container>
</app-modal-wrapper>
