<app-modal-wrapper [title]="'Add existed song' | translate" (closeAction)="close()">
  <div modalBody>
    <label for="typeahead-prevent-manual-entry">{{'Search for a song:' | translate}}</label>
    <input
      id="typeahead-prevent-manual-entry"
      type="text"
      class="form-control"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
      (selectItem)="selectSong($event)"
    />
    <div style="height: 10rem">
      <pre>Song: {{ selectedSong | json }}</pre>
    </div>
    <!--    <hr />-->
  </div>
  <ng-container modalFooter>
    <button class="btn btn-primary" (click)="close(selectedSong)">{{'Ok' | translate}}</button>
  </ng-container>
</app-modal-wrapper>
