<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" id="name">Created by</th>
      <th scope="col" id="birthDate">Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of songList; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ song?.uploader?.user_name }}</td>
      <td><a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
      <td>
        <button (click)="openDeleteDialog(song, $event)" class="btn btn-danger btn-sm m-2 rounded-circle">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
