<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" id="name">{{'Created by' | translate}}</th>
      <th scope="col" id="birthDate">{{'Name' | translate}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of songPage.content; index as i">
      <td>{{ song.rn }}</td>
      <td>{{ song?.uploader?.username }}</td>
      <td><a [routerLink]="['/song','detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
      <td>
        <button (click)="openDeleteDialog(song, $event)" class="btn btn-danger btn-sm m-2 rounded-circle">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination
  *ngIf="songPage.totalPages > 1"
  [collectionSize]="songPage.totalElements"
  [page]="songPage.pageable?.pageNumber + 1"
  [pageSize]="songPage.pageable?.pageSize"
  (pageChange)="getSongList($event - 1)"
></ngb-pagination>
