<h3 class="text-center">Update Profile</h3>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" *ngIf="!!currentUser">
  <div class="form-group">
    <label for="firstName"><i class="fas fa-user-tie"></i> First Name</label>
    <input id="firstName" type="text" formControlName="firstName" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="lastName"><i class="fas fa-user-tie"></i> Last Name</label>
    <input id="lastName" type="text" formControlName="lastName" class="form-control"/>
  </div>
  <label><i class="fas fa-venus-mars"></i> Gender</label>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input type="radio" id="male" [value]=true formControlName="gender">
      <label class="form-check-label ml-2" for="male"><i class="fas fa-mars"></i> Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" id="female" [value]=false formControlName="gender">
      <label class="form-check-label ml-2" for="female"><i class="fas fa-venus"></i> Female</label>
    </div>
  </div>
  <div class="form-group">
    <label for="birthDate"><i class="fas fa-table"></i> BirthDate</label>
    <input [value]="currentUser.birthDate | date:'yyyy-MM-dd'" type="date" class="form-control" id="birthDate" placeholder="yyyy-mm-dd" formControlName="birthDate">
  </div>
  <div class="form-group">
    <label for="phoneNumber"><i class="fas fa-phone"></i> PhoneNumber</label>
    <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control"/>
  </div>
  <label><i class="fas fa-user-circle"></i> Avatar</label>
  <div class="form-group custom-file">
    <label class="custom-file-label" *ngIf=!isImageFileChosen>Choose file</label>
    <label class="custom-file-label" *ngIf=isImageFileChosen>{{ imageFileName }}</label>
    <input type="file" class="custom-file-input" id="avatar" (change)="selectFile($event)">
  </div>
  <button [disabled]="loading" class="btn btn-primary my-2">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <span>Update</span>
  </button>
  <div class="progress form-group" *ngIf="progress.value > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress.value">
    </div>
  </div>
  <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-danger]="error"
       [class.alert-success]="!error">{{message}}
  </div>
</form>
