.box_topic_music {
  color: #333;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  font-family: sans-serif;
}


.box_topic_music li {
  list-style-type: none;
}

.box_topic_music ul li {
  float: left;
  padding: 0px 0 15px 0;
  width: 100% !important;
}

a {
  color: #2daaed;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300 !important;
}

.box_topic_music ul li img {
  float: left;
  width: 100%;
}

img{
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  border: 0.1rem solid black;
}

.title_box_key {
  width: 100%;
  float: left;
}

.title_box_key h3 {
  color: #2daaed;
}


.title_box_key h1, .title_box_key h2, .title_box_key h3 {
  float: left;
  display: block;
  width: auto;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 36px;
  margin: 0 0 10px 0;
}


//style list_music

.list_music {
  width: 840px;
  float: left;
  margin: 20px 0 20px 0;
}

.list_music .fram_select {
  width: 840px;
  float: left;
  overflow: hidden;
}

.list_music .fram_select ul li .box-content-music-list {
  position: relative;
}

.list_music .fram_select ul li .info_song {
  float: left;
  width: 300px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-content-music-list.home .info_song .avatar_song {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.box-content-music-list.home .info_song .avatar_song img {
  width: 60px;
  height: 60px;
}

.list_music .fram_select ul li .info_song a.name_song {
  font-size: 14px;
  float: left;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.box-content-music-list.home .info_song a.name_song {
  float: none !important;
  margin-top: 10px;
  display: block;
  line-height: 18px !important;
}

.list_music .fram_select ul li .info_song a.name_singer {
  font-size: 12px;
  line-height: 26px;
  height: 24px;
}

.name_singer {
  color: rgba(0,0,0,0.5) !important;
}

.list_music .fram_select ul li .box-content-music-list .icon_listen {
  position: absolute;
  color: #999999;
  right: 0;
  font-size: 12px;
  background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) left -194px no-repeat;
  padding-left: 15px;
  line-height: 24px;
  display: block;
  margin: 1px 0 0 0;
}

.box-content-music-list.home .icon_listen {
  margin-top: 15px !important;
}

.list_music .fram_select ul li {
  width: 400px;
  float: left;
  margin-right: 30px;
  border-top: #ececec solid 1px;
  padding: 5px 0px;
  line-height: 24px;
}

.list_music .fram_select ul li .box_song_action {
  position: absolute;
  width: auto;
  background: #FFF;
  margin: 5px 0 0 0;
  height: 14px;
  right: 0;
  display: none;
  padding: 0 0 0 10px;
}

.box-content-music-list.home .box_song_action {
  margin-top: 22px !important;
}

.list_music .fram_select ul li .button_add_playlist {
  width: 16px;
  height: 14px;
  background: url(https://stc-id.nixcdn.com/v11/images/icon.png) -44px top no-repeat;
  display: block;
  float: left;
  margin: 0px 12px 0px 0px;
}

.list_music .fram_select ul li .button_playing {
  width: 10px;
  height: 14px;
  background: url(https://stc-id.nixcdn.com/v11/images/icon.png) -30px top no-repeat;
  display: block;
  float: left;
  margin: 0px 0px 0px 0px;
}

ul li {
  list-style: none;
  margin-top: 20px;
}

