<div class="list_music listSong" style="margin-top: 120px">
  <div class="fram_select" style="margin-top: -20px">
    <div class="tile_box_key">
      <h2><span class="icon_song"></span>
        <a title="Bài Hát" href="https://www.nhaccuatui.com/bai-hat/bai-hat-moi-nhat.html">
          <p style="font-weight:300;font-size: 26px;color: #2daaed;text-transform: uppercase;margin-left: 36px">BXH BÀI HÁT</p>
        </a>
      </h2>
    </div>
    <ul>
      <li>
        <div class="box-content-music-list home">
          <div class="info_song" style="color: #999999;">
            <a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" class="avatar_song" title="Phải Giữ Em Thôi - Thanh Hưng Idol" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SiFcoYi5pFmW','','title']);">
              <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/09/4/5/3/d/1568011010000.jpg" alt="phai giu em thoi - thanh hung idol" title="Phải Giữ Em Thôi - Thanh Hưng Idol">
            </a>
            <h3><a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" class="name_song" title="Phải Giữ Em Thôi - Thanh Hưng Idol" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SiFcoYi5pFmW','','title']);">Phải Giữ Em Thôi</a></h3>
            <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-thanh-hung.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Thanh Hưng Idol trình bày" target="_blank">Thanh Hưng Idol</a></div>
          </div>

          <span id="NCTCounter_sg_6064272" class="icon_listen" wgct="1">291.055</span>
          <div class="box_song_action">
            <a href="javascript:;" id="btnShowBoxPlaylist_SiFcoYi5pFmW" onclick="return NCTAddPlaylist.showBox('SiFcoYi5pFmW');" class="button_add_playlist" title="Thêm bài hát Phải Giữ Em Thôi - Thanh Hưng Idol vào playlist yêu thích"></a>
            <a href="https://www.nhaccuatui.com/bai-hat/phai-giu-em-thoi-thanh-hung-idol.SiFcoYi5pFmW.html" class="button_playing" title="Nghe bài hát Phải Giữ Em Thôi - Thanh Hưng Idol" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','SiFcoYi5pFmW','','icon-play']);"></a>
          </div>
        </div>
      </li>

      <li>
        <div class="box-content-music-list home">
          <div class="info_song" style="color: #999999;">
            <a href="https://www.nhaccuatui.com/bai-hat/mang-chung-ha-nhi.29xpL9CrWwtt.html" class="avatar_song" title="Mang Chủng - Hà Nhi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','29xpL9CrWwtt','','title']);">
              <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/24/7/b/3/d/1569313480704.jpg" alt="mang chung - ha nhi" title="Mang Chủng - Hà Nhi">
            </a>
            <h3><a href="https://www.nhaccuatui.com/bai-hat/mang-chung-ha-nhi.29xpL9CrWwtt.html" class="name_song" title="Mang Chủng - Hà Nhi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','29xpL9CrWwtt','','title']);">Mang Chủng</a></h3>
            <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-ha-nhi.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Hà Nhi trình bày" target="_blank">Hà Nhi</a></div>
          </div>

          <span id="NCTCounter_sg_6090040" class="icon_listen" wgct="1">163.004</span>
          <div class="box_song_action">
            <a href="javascript:;" id="btnShowBoxPlaylist_29xpL9CrWwtt" onclick="return NCTAddPlaylist.showBox('29xpL9CrWwtt');" class="button_add_playlist" title="Thêm bài hát Mang Chủng - Hà Nhi vào playlist yêu thích"></a>
            <a href="https://www.nhaccuatui.com/bai-hat/mang-chung-ha-nhi.29xpL9CrWwtt.html" class="button_playing" title="Nghe bài hát Mang Chủng - Hà Nhi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','29xpL9CrWwtt','','icon-play']);"></a>
          </div>
        </div>
      </li>

      <li>
        <div class="box-content-music-list home">
          <div class="info_song" style="color: #999999;">
            <a href="https://www.nhaccuatui.com/bai-hat/co-tham-khong-ve-phat-ho-ft-jokes-bii-ft-thien.mlnzEWoupew1.html" class="avatar_song" title="Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mlnzEWoupew1','','title']);">
              <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/16/b/0/f/f/1568593417642.jpg" alt="co tham khong ve - phat ho, jokes bii, thien" title="Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện">
            </a>
            <h3><a href="https://www.nhaccuatui.com/bai-hat/co-tham-khong-ve-phat-ho-ft-jokes-bii-ft-thien.mlnzEWoupew1.html" class="name_song" title="Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mlnzEWoupew1','','title']);">Cô Thắm Không Về</a></h3>
            <div class="name_sing_under"><a href="https://www.nhaccuatui.com/tim-kiem?q=Ph%C3%A1t+H%E1%BB%93&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Phát Hồ trình bày" target="_blank">Phát Hồ</a>, <a href="https://www.nhaccuatui.com/tim-kiem?q=Jokes+Bii&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Jokes Bii trình bày" target="_blank">Jokes Bii</a>, <a href="https://www.nhaccuatui.com/tim-kiem?q=Thi%E1%BB%87n&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Thiện trình bày" target="_blank">Thiện</a></div>
          </div>

          <span id="NCTCounter_sg_6067247" class="icon_listen" wgct="1">5.160.601</span>
          <div class="box_song_action">
            <a href="javascript:;" id="btnShowBoxPlaylist_mlnzEWoupew1" onclick="return NCTAddPlaylist.showBox('mlnzEWoupew1');" class="button_add_playlist" title="Thêm bài hát Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện vào playlist yêu thích"></a>
            <a href="https://www.nhaccuatui.com/bai-hat/co-tham-khong-ve-phat-ho-ft-jokes-bii-ft-thien.mlnzEWoupew1.html" class="button_playing" title="Nghe bài hát Cô Thắm Không Về - Phát Hồ, Jokes Bii, Thiện" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mlnzEWoupew1','','icon-play']);"></a>
          </div>
        </div>
      </li>

      <li>
        <div class="box-content-music-list home">
          <div class="info_song" style="color: #999999;">
            <a href="https://www.nhaccuatui.com/bai-hat/danh-roi-mhanh-ft-rastz.mcnIM2jm3tFG.html" class="avatar_song" title="Đánh Rơi - M.Hanh, Rastz" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mcnIM2jm3tFG','','title']);">
              <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/19/1/5/4/8/1568888805928.jpg" alt="danh roi - m.hanh, rastz" title="Đánh Rơi - M.Hanh, Rastz">
            </a>
            <h3><a href="https://www.nhaccuatui.com/bai-hat/danh-roi-mhanh-ft-rastz.mcnIM2jm3tFG.html" class="name_song" title="Đánh Rơi - M.Hanh, Rastz" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mcnIM2jm3tFG','','title']);">Đánh Rơi</a></h3>
            <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-m-hanh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ M.Hanh trình bày" target="_blank">M.Hanh</a>, <a href="https://www.nhaccuatui.com/nghe-si-rastz.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Rastz trình bày" target="_blank">Rastz</a></div>
          </div>

          <span id="NCTCounter_sg_6082866" class="icon_listen" wgct="1">14.252</span>
          <div class="box_song_action">
            <a href="javascript:;" id="btnShowBoxPlaylist_mcnIM2jm3tFG" onclick="return NCTAddPlaylist.showBox('mcnIM2jm3tFG');" class="button_add_playlist" title="Thêm bài hát Đánh Rơi - M.Hanh, Rastz vào playlist yêu thích"></a>
            <a href="https://www.nhaccuatui.com/bai-hat/danh-roi-mhanh-ft-rastz.mcnIM2jm3tFG.html" class="button_playing" title="Nghe bài hát Đánh Rơi - M.Hanh, Rastz" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','mcnIM2jm3tFG','','icon-play']);"></a>
          </div>
        </div>
      </li>

      <li>
        <div class="box-content-music-list home">
          <div class="info_song" style="color: #999999;">
            <a href="https://www.nhaccuatui.com/bai-hat/ngu-nghech-nguyen-hoang-dung.7Q6sJ0CzcW6f.html" class="avatar_song" title="Ngu Nghếch - Nguyễn Hoàng Dũng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','7Q6sJ0CzcW6f','','title']);">
              <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/19/1/5/4/8/1568865145364.jpg" alt="ngu nghech - nguyen hoang dung" title="Ngu Nghếch - Nguyễn Hoàng Dũng">
            </a>
            <h3><a href="https://www.nhaccuatui.com/bai-hat/ngu-nghech-nguyen-hoang-dung.7Q6sJ0CzcW6f.html" class="name_song" title="Ngu Nghếch - Nguyễn Hoàng Dũng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','7Q6sJ0CzcW6f','','title']);">Ngu Nghếch</a></h3>
            <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-nguyen-hoang-dung.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Nguyễn Hoàng Dũng trình bày" target="_blank">Nguyễn Hoàng Dũng</a></div>
          </div>

          <span id="NCTCounter_sg_6081163" class="icon_listen" wgct="1">110.301</span>
          <div class="box_song_action">
            <a href="javascript:;" id="btnShowBoxPlaylist_7Q6sJ0CzcW6f" onclick="return NCTAddPlaylist.showBox('7Q6sJ0CzcW6f');" class="button_add_playlist" title="Thêm bài hát Ngu Nghếch - Nguyễn Hoàng Dũng vào playlist yêu thích"></a>
            <a href="https://www.nhaccuatui.com/bai-hat/ngu-nghech-nguyen-hoang-dung.7Q6sJ0CzcW6f.html" class="button_playing" title="Nghe bài hát Ngu Nghếch - Nguyễn Hoàng Dũng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','7Q6sJ0CzcW6f','','icon-play']);"></a>
          </div>
        </div>
      </li>

      <li>
        <div class="box-content-music-list home">
          <div class="info_song" style="color: #999999;">
            <a href="https://www.nhaccuatui.com/bai-hat/choir-alan-walker-remix-guy-sebastian-ft-alan-walker.hSACRBR88ZPr.html" class="avatar_song" title="Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','hSACRBR88ZPr','','title']);">
              <img onerror="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/avatar_default.jpg', '');" src="https://avatar-nct.nixcdn.com/song/2019/09/27/2/1/a/3/1569552446889.jpg" alt="choir (alan walker remix) - guy sebastian, alan walker" title="Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker">
            </a>
            <h3><a href="https://www.nhaccuatui.com/bai-hat/choir-alan-walker-remix-guy-sebastian-ft-alan-walker.hSACRBR88ZPr.html" class="name_song" title="Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','hSACRBR88ZPr','','title']);">Choir (Alan Walker Remix)</a></h3>
            <div class="name_sing_under"><a href="https://www.nhaccuatui.com/nghe-si-guy-sebastian.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Guy Sebastian trình bày" target="_blank">Guy Sebastian</a>, <a href="https://www.nhaccuatui.com/nghe-si-alan-walker.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Alan Walker trình bày" target="_blank">Alan Walker</a></div>
          </div>

          <span id="NCTCounter_sg_6097702" class="icon_listen" wgct="1">6.603</span>
          <div class="box_song_action">
            <a href="javascript:;" id="btnShowBoxPlaylist_hSACRBR88ZPr" onclick="return NCTAddPlaylist.showBox('hSACRBR88ZPr');" class="button_add_playlist" title="Thêm bài hát Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker vào playlist yêu thích"></a>
            <a href="https://www.nhaccuatui.com/bai-hat/choir-alan-walker-remix-guy-sebastian-ft-alan-walker.hSACRBR88ZPr.html" class="button_playing" title="Nghe bài hát Choir (Alan Walker Remix) - Guy Sebastian, Alan Walker" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Bai Hat Moi']);lt(['home','bai-hat-moi','click','song','hSACRBR88ZPr','','icon-play']);"></a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<div class="box_topic_music">
  <div class="tile_box_key">
    <h3><a href="https://www.nhaccuatui.com/chu-de.html" title="Chủ Đề Hot"><p style="margin-left: 40px;">Chủ Đề Hot</p></a></h3>
  </div>
  <ul>
    <li>
      <a title="Cà Phê" target="target" href="https://www.nhaccuatui.com/chu-de/ca-phe.weocfcben.html">
        <img src="https://avatar-nct.nixcdn.com/topic/thumb/2018/11/19/9/1/5/9/1542607452664_org.jpg" alt="ca phe">
      </a>
    </li>

    <li>
      <a title="Rap Việt" target="target" href="https://www.nhaccuatui.com/chu-de/rap-viet.weiyslqrl.html">
        <img src="https://avatar-nct.nixcdn.com/topic/thumb/2018/11/19/9/1/5/9/1542616461197_org.jpg" alt="rap viet" />
      </a>
    </li>

    <li>
      <a title="Ca Sĩ Âu Mỹ" target="target" href="https://www.nhaccuatui.com/chu-de/ca-si-au-my.weoldimjy.html">
        <img src="https://avatar-nct.nixcdn.com/topic/thumb/2018/11/19/9/1/5/9/1542608109958_org.jpg" alt="ca si au my">
      </a>
    </li>

    <li>
      <a title="Tập Trung Tư Duy" target="target" href="https://www.nhaccuatui.com/chu-de/tap-trung-tu-duy.wepjtmyfz.html">
        <img src="https://avatar-nct.nixcdn.com/topic/thumb/2018/11/19/9/1/5/9/1542602890873_org.jpg" alt="tap trung tu duy" />
      </a>
    </li>

    <li>
      <a title="Piano" target="target" href="https://www.nhaccuatui.com/chu-de/piano.wepdpfwej.html">
        <img src="https://avatar-nct.nixcdn.com/topic/thumb/2018/11/19/9/1/5/9/1542614641368_org.jpg" alt="piano">
      </a>
    </li>
  </ul>
</div>


