<form [formGroup]="albumForm" vgFocusFirstInvalid [form]="albumForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="albumTitle">{{ 'common.label.title' | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="albumTitle"
      [placeholder]="'feature.album.album_title_hint' | translate"
      formControlName="title"
    />
    <vg-error-section [label]="'common.label.title' | translate" [group]="albumForm" controlName="title"></vg-error-section>
  </div>
  <label>{{ 'common.entity.artist' | translate }}</label>
  <app-artist-suggestion [uploadData]="albumUploadData" [parentForm]="albumForm"></app-artist-suggestion>
  <div class="form-group">
    <label for="albumReleaseDate">{{ 'Release Date' | translate }}</label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="dd/MM/yyyy"
        id="albumReleaseDate"
        name="dp"
        ngbDatepicker
        #d="ngbDatepicker"
        formControlName="releaseDate"
        [minDate]="minDate"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <i class="bi bi-calendar3"></i>
        </button>
      </div>
    </div>
    <vg-error-section [label]="'Release Date' | translate" [group]="albumForm" controlName="releaseDate"></vg-error-section>
  </div>
  <div class="form-group">
    <label class="col-sm-4 px-0" for="albumCover">{{ 'Cover' | translate }}</label>
    <vg-file-input
      id="albumCover"
      formControlName="coverUrl"
      [remoteFileType]="'image'"
      [formData]="albumUploadData.formData"
      [formDataFilePart]="'cover'"
    ></vg-file-input>
  </div>
  <div class="d-flex justify-content-end align-items-center">
    <button
      [disabled]="albumUploadData.loading"
      type="button"
      class="btn btn-primary rounded-pill my-2 mx-1"
      (click)="openAdditionalForm()"
    >
      <i class="bi bi-list-ul"></i>&nbsp;{{'feature.song.additional_info' | translate}}
    </button>
    <button [disabled]="albumUploadData.loading" type="submit" class="btn btn-primary rounded-pill my-2 mx-1">
      {{ 'common.button.save' | translate }}
    </button>
  </div>
</form>
