<div class="container-fluid">
  <h5>Elasticsearch Control Panel</h5>
  <select [(ngModel)]="indexName" class="form-select mb-3">
    <option [ngValue]="null" selected>Select an index</option>
    <option value="song">Song</option>
    <option value="album">Album</option>
    <option value="artist">Artist</option>
  </select>
  <form [formGroup]="esForm">
    <div class="input-group mb-3">
      <input formControlName="id" type="number" class="form-control" placeholder="Enter record's ID" />
    </div>
    <div class="form-group mb-3">
      <label for="createTime">{{ 'Create Time' | translate }}</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd/MM/yyyy"
          id="createTime"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="createTime"
          [minDate]="minDate"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="updateTime">{{ 'Update Time' | translate }}</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd/MM/yyyy"
          id="updateTime"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="createTime"
          [minDate]="minDate"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-primary m-1" (click)="reloadMapping()">Reload Mapping</button>
  <button class="btn btn-primary m-1" (click)="markForSync()">Mark for Sync</button>
  <button class="btn btn-primary m-1" (click)="clearIndex()">Clear index</button>
</div>
