<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="height: 1000px">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" style="margin-top: 25px">
            <a class="nav-link active" href="#">
              Playlist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Artist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            Song
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
