 <form [formGroup]="createPlaylistForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="playlist">Playlist Title</label>
        <div class="input-group">
          <input id="playlist" class="form-control" placeholder="Enter playlist title" formControlName="title">
        </div>
      </div>
      <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-success]="!error" [class.alert-danger]="error">{{message}}</div>
    </div>

  </form>
