<h4>{{'feature.genre.genre_management' | translate}}</h4>
<form [formGroup]="genreCreateForm" (ngSubmit)="createGenre()">
  <div>
    <label for="name" class="form-label">{{'feature.genre.create_genre' | translate}}</label>
    <input type="text" class="form-control" id="name" [placeholder]="'feature.genre.genre_name_hint' | translate" formControlName="name" />
    <vg-error-section [label]="'feature.genre.genre_name' | translate" [group]="genreCreateForm" controlName="name"></vg-error-section>
  </div>
  <button type="submit" class="btn btn-primary rounded-pill my-2">{{'common.button.save'| translate}}</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'ID' | translate }}</th>
      <th scope="col">{{ 'feature.genre.genre_name' | translate }}</th>
      <th scope="col">{{ 'common.label.create_time' | translate }}</th>
      <th scope="col">{{ 'common.label.update_time' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let genre of genrePage.content; index as i">
      <td>{{ genrePage.pageable?.pageSize * genrePage.pageable.pageNumber + i + 1 }}</td>
      <td>
        <span>{{ genre.id }}</span>
      </td>
      <td>
        <span *ngIf="!genre.editing else editBlock">{{ genre.name }}</span>
      </td>
      <td>
        <span>{{ genre.createTime | date:'dd/MM/yyyy HH:mm:ss' }}</span>
      </td>
      <td>
        <span>{{ genre.updateTime | date:'dd/MM/yyyy HH:mm:ss' }}</span>
      </td>
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <button *ngIf="!genre.editing" class="btn btn-sm btn-secondary rounded-circle mx-2" (click)="toggleEdit(genre, true)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button *ngIf="genre.editing" class="btn btn-sm btn-primary rounded-circle mx-2" (click)="updateGenre(i)">
            <i class="bi bi-save"></i>
          </button>
          <button *ngIf="genre.editing" class="btn btn-sm btn-warning rounded-circle mx-2" (click)="toggleEdit(genre, false)">
            <i class="bi bi-x-lg"></i>
          </button>
          <button class="btn btn-sm btn-danger rounded-circle mx-2" (click)="openDeleteDialog($event, genre)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination
  [collectionSize]="genrePage.totalElements"
  [page]="genrePage.pageable?.pageNumber + 1"
  [pageSize]="genrePage.pageable?.pageSize"
  (pageChange)="getGenreList($event - 1)"
></ngb-pagination>
<ng-template #editBlock>
  <form [formGroup]="genreUpdateForm">
    <input type="text" class="form-control" formControlName="name" />
    <vg-error-section [label]="'common.entity.genre' | translate" [group]="genreUpdateForm" controlName="name"></vg-error-section>
  </form>
</ng-template>
