<div class="text-center">
  <form [formGroup]="adminLoginForm" class="form-group">
    <h1 style="text-align: center">Welcome</h1>
    <label for="username">Admin Name</label>
    <input class="form-control" type="username" id="username" placeholder="Email" formControlName="username">
    <div *ngIf="adminLoginForm.get('username').hasError('required')">Email is required</div>
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" placeholder="Password" formControlName="password">
    <div *ngIf="adminLoginForm.get('password').hasError('required')">Email is required</div>
    <input class="btn btn-dark" type="submit" value="Log in">
  </form>
</div>



