<div class="login">
  <form class="login-container">
    <h1 style="text-align: center">Welcome</h1>
    <p>
      <input type="email" placeholder="Email" formControlName="email">
    </p>

    <!--    <div class="help-block">-->
    <!--      <div *ngIf="formControls.email.errors.required">Email is required</div>-->
    <!--    </div>-->

    <p>
      <input type="password" placeholder="Password" formControlName="password">
    </p>

    <!--    <divclass="help-block">-->
    <!--      <div *ngIf="formControls.password.errors.required">Password is required</div>-->
    <!--    </div>-->

    <p>
      <input type="submit" value="Log in">
    </p>
  </form>
</div>


