<div class="row">
  <div class="col-sm-12">
    <app-card [type]="3" [title]="'Upload Album' | translate" class="col-sm-12">
      <div cardBody3>
        <form [formGroup]="albumUploadData.formGroup" vgFocusFirstInvalid [form]="albumUploadData.formGroup" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="albumTitle">{{ 'Title' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="albumTitle"
              [placeholder]="('Enter' | translate) + ' ' + ('Album title' | translate)"
              formControlName="title"
            />
            <vg-error-section [label]="'Title' | translate" [group]="albumUploadData.formGroup" controlName="title"></vg-error-section>
          </div>
          <label>{{ 'Artist' | translate }}</label>
          <div formArrayName="artists" class="form-group" *ngFor="let artistControl of getAlbumArtists().controls; let i = index;">
            <div class="row">
              <div [formGroupName]="i" class="col-md-10">
                <vg-auto-input
                  [formControl]="$any(artistControl)"
                  [nameField]="'name'"
                  [valueField]="''"
                  [imageField]="'avatarUrl'"
                  [searchResults]="albumUploadData.filteredAlbumArtists"
                  (onChangeText)="suggestAlbumArtist($event)"
                ></vg-auto-input>
                <vg-error-section
                  [label]="('common.label.artist' | translate) + '#' + (i + 1)"
                  [control]="artistControl"
                ></vg-error-section>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-info rounded-lg mx-1" style="min-width: 2rem" (click)="addAlbumArtist()">+</button>
                <button
                  type="button"
                  class="btn btn-danger rounded-lg mx-1"
                  style="min-width: 2rem"
                  (click)="removeAlbumArtist(i)"
                  *ngIf="getAlbumArtists().controls.length > 1"
                >
                  -
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="albumReleaseDate">{{ 'Release Date' | translate }}</label>
            <input type="date" class="form-control" id="albumReleaseDate" placeholder="Release Date" formControlName="releaseDate" />
            <vg-error-section
              [label]="'Release Date' | translate"
              [group]="albumUploadData.formGroup"
              controlName="releaseDate"
            ></vg-error-section>
          </div>
          <div class="form-group">
            <label class="col-sm-4 px-0" for="albumCover">{{ 'Cover' | translate }}</label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="albumCover"
                [placeholder]="'Image File' | translate"
                (change)="selectImage($event)"
              />
              <label class="custom-file-label" for="albumCover" *ngIf="albumUploadData.imageFile; else emptyFileBlock">
                {{ albumUploadData.imageFile.name }}
              </label>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary rounded-pill mb-2 float-right">{{ 'Submit' | translate }}</button>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
<div class="row" *ngFor="let songUploadData of songUploadDataList, index as j">
  <div class="col-sm-12" #card1>
    <app-card [type]="3" [title]="('Song' | translate) + ' #' + (j + 1)" class="col-sm-12">
      <div cardBody3>
        <button class="btn btn-info float-sm-right rounded-circle" style="margin-bottom: 1rem" (click)="removeForm(j)">
          <i class="fas fa-times"></i>
        </button>
        <form [formGroup]="songUploadData.formGroup" vgFocusFirstInvalid [form]="songUploadData.formGroup">
          <div class="form-group">
            <label for="songTitle">{{ 'Title' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="songTitle"
              [placeholder]="('Enter' | translate) + ' ' + ('Song title' | translate)"
              formControlName="title"
            />
            <vg-error-section [label]="'Title' | translate" [group]="songUploadData.formGroup" controlName="title"></vg-error-section>
          </div>
          <div class="form-group">
            <label>{{ 'Artist' | translate }}</label>
            <div formArrayName="artists" class="form-group" *ngFor="let artistControl of getSongArtists(j).controls; let k = index;">
              <div class="row">
                <div [formGroupName]="k" class="col-md-10">
                  <vg-auto-input
                    [formControl]="$any(artistControl)"
                    [nameField]="'name'"
                    [valueField]="''"
                    [imageField]="'avatarUrl'"
                    [searchResults]="songUploadData.filteredSongArtists"
                    (onChangeText)="suggestSongArtist($event, j)"
                  ></vg-auto-input>
                  <vg-error-section
                    [label]="('common.label.artist' | translate) + '#' + (k + 1)"
                    [control]="artistControl"
                  ></vg-error-section>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-info rounded-lg mx-1" style="min-width: 2rem" (click)="addSongArtist(j)">+</button>
                  <button
                    type="button"
                    class="btn btn-danger rounded-lg mx-1"
                    style="min-width: 2rem"
                    (click)="removeSongArtist(j, k)"
                    *ngIf="getSongArtists(j).controls.length > 1"
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="releaseDate">{{ 'Release Date' | translate }}</label>
            <input
              type="date"
              class="form-control"
              id="releaseDate"
              [placeholder]="('Pick' | translate) + ' ' + ('Release Date' | translate)"
              formControlName="releaseDate"
            />
            <vg-error-section
              [label]="'Release Date' | translate"
              [group]="songUploadData.formGroup"
              controlName="releaseDate"
            ></vg-error-section>
          </div>
          <div class="form-group">
            <label>{{ 'Audio File' | translate }}</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" [id]="'songAudio#' + j" (change)="selectAudio($event, j)" />
              <label class="custom-file-label" [for]="'songAudio#' + j" *ngIf="songUploadData.audioFile; else emptyFileBlock">
                {{ songUploadData.audioFile.name }}
              </label>
            </div>
          </div>
          <vg-upload-progress
            [httpObs]="songUploadData.observable"
            [successMsg]="'Song uploaded successfully' | translate"
          ></vg-upload-progress>
        </form>
      </div>
    </app-card>
  </div>
</div>
<div class="card col-sm-12 add_song_form" #card2 style="margin-bottom: 10rem; height: 10rem">
  <div class="card-body d-flex p-2 justify-content-center">
    <button class="align-self-center btn btn-info rounded-circle" (click)="addForm()"><i class="fas fa-plus fa-4x"></i></button>
  </div>
</div>
<ng-template #emptyFileBlock>
  <label class="custom-file-label">{{ 'Choose File' | translate }}</label>
</ng-template>
