<ngb-tabset type="pills" [orientation]="'horizontal'" [justify]="'justified'">
  <ngb-tab>
    <ng-template ngbTabTitle><h6>Song <span class="badge badge-secondary">{{numberSong}}</span></h6></ng-template>
    <ng-template ngbTabContent>
      <table *ngIf="songList.length > 0" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Release Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of songList; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ song.title }}</td>
          <td>{{ song.releaseDate | date }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h6>Artist <span class="badge badge-secondary">{{numberArtist}}</span></h6></ng-template>
    <ng-template ngbTabContent>
      <table *ngIf="artistList.length > 0" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Release Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artistList; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ artist.name }}</td>
          <td>{{ artist.avatarUrl | date }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
