<h5>{{ 'Search result for:' | translate }}{{' \''}}{{searchText}}{{'\''}}</h5>
<!--<div ngbNav #searchTab="ngbTabset" type="pills" [orientation]="'horizontal'" [justify]="'justified'">-->
<div ngbNav [orientation]="'horizontal'">
  <div id="songs">
    <ng-template ngbNav
      ><h5>{{ 'common.entity.song' | translate }} <span class="badge badge-secondary">{{numberOfSongs}}</span></h5></ng-template
    >
    <ng-template ngbNavContent>
      <table *ngIf="songList.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Song Name' | translate }}</th>
            <th scope="col">{{ 'Release Date' | translate }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr [routerLink]="['/song/detail']" [queryParams]="{id: song.id}" *ngFor="let song of songList; index as i">
            <th scope="row">{{ song.rn }}</th>
            <td><a [routerLink]="['/song/detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
            <td>{{ song.releaseDate | date: 'fullDate' : '' : translate.currentLang }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
  <div id="artists">
    <ng-template ngbNav
      ><h5>{{ 'common.entity.artist' | translate }} <span class="badge badge-secondary">{{numberOfArtists}}</span></h5></ng-template
    >
    <ng-template ngbNavContent>
      <table *ngIf="artistList.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'feature.artirst.artist_name' | translate }}</th>
            <th scope="col">{{ 'BirthDate' | translate }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}" *ngFor="let artist of artistList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td><a [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}">{{ artist.name }}</a></td>
            <td>{{ artist.birthDate | date: 'fullDate' : '' : translate.currentLang }}</td>
            <td><img [src]="artist.avatarUrl" alt="" /></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
