<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Release Date</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of songList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ song.title }}</td>
    <td>{{ song.releaseDate | date: 'yyyy-MM-dd' }}</td>
    <td>
      <button class="btn btn-primary" (click)="addToPlaying(song)" [disabled]="song.isDisabled"><i
        class="fas fa-play-circle"></i></button>
    </td>
    <td><a class="btn btn-secondary" [routerLink]="['/song','edit']" [queryParams]="{id: song.id}"><i class="fas fa-edit"></i></a></td>
  </tr>
  </tbody>
</table>

