<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<h3 class="text-center">Uploaded Song List</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Release Date</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr [routerLink]="['/song', 'detail']" [queryParams]="{id: song.id}" *ngFor="let song of songList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td><a [routerLink]="['/song', 'detail']" [queryParams]="{id: song.id}">{{ song.title }}</a></td>
    <td>{{ song.releaseDate | date }}</td>
    <td>
      <button class="btn btn-primary" (click)="addToPlaying(song, $event)" [disabled]="song.isDisabled"><i
        class="fas fa-play-circle"></i></button>
    </td>
    <td><a class="btn btn-secondary" [routerLink]="['/song','edit']" [queryParams]="{id: song.id}"><i class="fas fa-edit"></i></a></td>
  </tr>
  </tbody>
</table>

