<div class="row g-5">
  <div
    class="col-md-3"
    *ngFor="let artist of artistPage.content | likes:'ARTIST':(currentUser$ | async); index as i"
    [routerLink]="['/artist', 'detail']"
    [queryParams]="{id: artist.id}"
  >
    <div class="avatar-container">
      <img class="avatar" [src]="artist.avatarUrl | mediaUrl" alt="" />
      <div class="like-btn-container d-flex justify-content-center">
        <app-artist-like-btn [ngClass]="'mt-auto mb-2'" [artist]="artist"></app-artist-like-btn>
      </div>
      <div class="w-100 position-absolute bottom-0 d-flex justify-content-center align-items-center" style="height: 2rem">
        <span>{{ artist.name }}</span>
      </div>
    </div>
  </div>
</div>
<ngb-pagination
  *ngIf="artistPage.totalPages > 1"
  [collectionSize]="artistPage.totalElements"
  [page]="artistPage.pageable?.pageNumber + 1"
  [pageSize]="artistPage.pageable?.pageSize"
  (pageChange)="getArtistPage($event - 1)"
></ngb-pagination>
