<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" id="name">{{ 'feature.artirst.artist_name' | translate }}</th>
      <th scope="col" id="avatar">{{ 'Avatar' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="['/artist', 'detail']" [queryParams]="{id: artist.id}" *ngFor="let artist of artistPage.content; index as i">
      <td>{{ i + 1 }}</td>
      <td><a [routerLink]="['/artist', 'detail']" [queryParams]="{id: artist.id}">{{ artist.name }}</a></td>
      <td>
        <a [routerLink]="['/artist', 'detail']" [queryParams]="{id: artist.id}"><img class="avatar" [src]="artist.avatarUrl" alt="" /></a>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination
  *ngIf="artistPage.totalPages > 1"
  [collectionSize]="artistPage.totalElements"
  [page]="artistPage.pageable?.pageNumber + 1"
  [pageSize]="artistPage.pageable?.pageSize"
  (pageChange)="getArtistPage($event - 1)"
></ngb-pagination>
