html, body {
  height: 100%;
  //background-color: #ffffff;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  font-family: Roboto,
  "Helvetica Neue", sans-serif
}

.dark-theme {

  html {
    background-color: black;
  }

  body {
    background-color: black !important;
  }

  h2, h3, h4, h5 {
    color: white;
  }

  input {
    color: white;
    background-color: grey;
  }

  input::placeholder {
    color: mediumspringgreen;
  }

  textarea {
    background-color: black;
  }

  ul, li, h2 {
    color: white;
    background-color: black;

    img {
      border: 0.1rem solid white;
    };

    li {
      border-color: white;
    }

    li:hover {
      background-color: grey !important;
    }
  }

  table {
    tr:nth-child(n) {
      td, th {
        color: whitesmoke;
      }
    }

    tr:nth-child(n):hover {
      td {
        background-color: grey;
        color: gold;
      }

      background-color: grey;
    }
  }

  app-card {
    div.card.card_type_1 {
      background-color: black !important;
      border-color: white;
    }

    div.card.card_type_1.tile:hover {
      background-color: grey !important;
    }

    div.card.card_type_2, div.card.card_type_3 {
      color: whitesmoke;
      background-color: black !important;
      border-color: white;

      h6 {
        color: crimson;
      }
    ;

      h3 {
        color: #2daaed;
      }
    }
  }


  nav.navbar {
    background-color: goldenrod;

    div.nav-item {
      background-color: goldenrod;
    }

    div.nav-item.active {
      background-color: khaki !important;

      a > h3 {
        color: brown;
      }
    }
  ;

    div.dropdown-menu, div.form-group, .dropdown-item {
      color: white;
      background-color: black !important;
      border-color: white;
    }
  ;

    a.dropdown-item:hover {
      background-color: grey !important;
      border-color: white;
    }

    div.form-check {
      color: white;
      background-color: black !important;
    }

    div.alert.alert-danger {
      background-color: #f8d7da !important;
    }
  ;

    div.alert.alert-success {
      background-color: lightgreen !important;
    }
  ;

    button#userProfile {
      background-color: lightgreen;
    }

    h3 {
      color: navy;
    }

    div {
      background-color: goldenrod !important;
    }

  }

  li.page-item {
    background-color: black !important;
  }
;

  a.page-link {
    background-color: black !important;
  }

  a.page-link.active {
    background-color: grey !important;
  }

  mat-advanced-audio-player {
    background-color: goldenrod !important;

    mat-card, mat-expansion-panel-header, div.mat-expansion-panel-body {
      background-color: goldenrod !important;
    }
  ;

    td.mat-cell, th.mat-header-cell, div.mat-paginator-container {
      color: black !important;
      background-color: palegoldenrod !important;
    }
  }

  .update_profile {
    margin-bottom: 0;
  }

  .add_song_form {
    border-color: white;
    background-color: black;
  }

  div.card-header {
    background-color: #2c2c2c;
  }
}


