/* You can add global styles to this audioFiles, and also import other style files */

html, body {
  height: 100%;
  background-color: #ffffff;
  padding-top: 2.5rem;
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif}
@media screen and (max-width: 768px) {
  body { padding-top: 0; }
}

