html, body {
  //height: 100%;
  //background-color: #ffffff;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  font-family: Roboto,
  "Helvetica Neue", sans-serif
}

@import "styles/colors";
@import "styles/animation";
@import "styles/theme";
@import "~ngx-vengeance-lib/styles";

.dropdown-toggle::after {
  display:none;
}

.modal-content {
  background-color: var(--card-background);
  border-color: var(--card-border);
  color: var(--toolbar-text-color)
}

.cdk-overlay-container {
  z-index: 1200;
}




