<app-card [type]="3" [title]="'Upload Song' | translate">
  <div cardBody3>
    <form [formGroup]="songUploadData.formGroup" vgFocusFirstInvalid [form]="songUploadData.formGroup" (ngSubmit)="upload()">
      <div class="form-group">
        <label for="songTitle">{{ 'common.label.artistName' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="songTitle"
          [placeholder]="'common.placeholder.artistName' | translate"
          formControlName="title"
        />
        <vg-error-section
          [label]="'common.label.artistName' | translate"
          [group]="songUploadData.formGroup"
          controlName="title"
        ></vg-error-section>
      </div>
      <label>{{ 'Artist' | translate }} </label>
      <div formArrayName="artists" class="form-group" *ngFor="let artistControl of artists.controls; let i = index;">
        <div [formGroupName]="i" class="row">
          <div class="col-sm-10">
            <vg-auto-input
              [formControl]="$any(artistControl)"
              [nameField]="'name'"
              [valueField]="''"
              [imageField]="'avatarUrl'"
              [searchResults]="songUploadData.filteredSongArtists"
              (onChangeText)="suggestArtist($event)"
            ></vg-auto-input>
            <vg-error-section [label]="('common.label.artist' | translate) + '#' + (i + 1)" [control]="artistControl"></vg-error-section>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-info rounded-lg mx-1" style="min-width: 2rem" (click)="addArtist()">+</button>
            <button
              type="button"
              class="btn btn-danger rounded-lg mx-1"
              style="min-width: 2rem"
              (click)="removeArtist(i)"
              *ngIf="artists.controls.length > 1"
            >
              -
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="releaseDate">{{ 'Release Date' | translate }}</label>
        <input
          type="date"
          class="form-control"
          id="releaseDate"
          [placeholder]="('Pick' | translate) + ' ' + ('Release Date' | translate)"
          formControlName="releaseDate"
        />
        <vg-error-section
          [label]="'feature.song.label.releaseDate' | translate"
          [group]="songUploadData.formGroup"
          controlName="releaseDate"
        ></vg-error-section>
      </div>
      <div class="form-group">
        <label for="country">{{ 'Country' | translate }}</label>
        <select id="country" class="custom-select" formControlName="country">
          <option [selected] [ngValue]="null">{{ 'Choose a country' | translate }}</option>
          <option *ngFor="let country of countryList" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tags">{{ 'Tags' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="tags"
          [placeholder]="'Multiple tags separated by commas' | translate"
          formControlName="tags"
        />
      </div>
      <label for="audio">{{ 'Audio File' | translate}}</label>
      <div class="form-group custom-file">
        <label class="custom-file-label" *ngIf="songUploadData.audioFile; else emptyFileBlock"> {{ songUploadData.audioFile.name }} </label>
        <input type="file" class="custom-file-input" id="audio" (change)="selectFile($event)" />
      </div>
      <div class="mt-sm-3">
        <button type="submit" class="btn btn-primary">{{ 'Submit' | translate }}</button>
      </div>
      <vg-upload-progress
        [httpObs]="songUploadData.observable"
        [successMsg]="'Song uploaded successfully' | translate"
        (successEvent)="uploadSuccess()"
      >
      </vg-upload-progress>
    </form>
  </div>
</app-card>
<ng-template #emptyFileBlock>
  <label class="custom-file-label">{{ 'Choose File' | translate}}</label>
</ng-template>
