<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Release Date</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of songList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ song[0].name }}</td>
    <td>{{ song[0].releaseDate | date }}</td>
    <td>
      <button class="btn btn-primary" (click)="addToPlaylist(song[0])" [disabled]="song[0].isDisabled"><i
        class="fas fa-play-circle"></i></button>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
          class="fas fa-ellipsis-h fa-1x"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem [routerLink]="['/playlist','add-to-playlist',song[0].id]">Add to playlist</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </td>
    <td><a [routerLink]="['/song','edit', song.id]">Edit</a></td>

  </tr>
  </tbody>
</table>
<ngb-pagination
  [(page)]="pageNumber"
  [pageSize]="pageSize"
  [collectionSize]="totalItems"></ngb-pagination>
