<ng-container *ngIf="loading">
  <app-spinner [type]="4"></app-spinner>
</ng-container>
<ng-container *ngIf="song">
  <h4>Song Info</h4>
  <div>
    <div class="card">
      <div class="card-body">
        <h6 class="d-inline">Title: </h6><span>{{song.title}}</span>
        <div class="d-inline-block float-right mx-1">
          <ng-container *ngIf="!!currentUser">
            <app-modal [action]="'addToPlaylist'" [title]="'Select a playlist to add'">
              <app-add-song-to-playlist class="modal-body" [songId]="song.id" [playlistList]="playlistList"></app-add-song-to-playlist>
              <app-create-playlist (createPlaylist)="refreshPlaylistList(song)" class="modal-footer"></app-create-playlist>
            </app-modal>
          </ng-container>
        </div>
        <div class="d-inline-block float-right mx-1">
          <button class="btn btn-primary" (click)="addToPlaying(song, $event)" [disabled]="song.isDisabled"><i
            class="fas fa-play-circle"></i>
          </button>
        </div>
        <div class="d-inline-block float-right mx-1">
          <ng-container *ngIf="!!currentUser">
            <button (click)="likeSong(song, $event)" class="btn btn-outline-danger" *ngIf="!song.liked" [disabled]="song.loadingLikeButton">
              <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!song.loadingLikeButton"><i class="far fa-heart"></i></span>
            </button>
            <button (click)="unlikeSong(song, $event)" class="btn btn-outline-danger" *ngIf="song.liked" [disabled]="song.loadingLikeButton">
              <span *ngIf="song.loadingLikeButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!song.loadingLikeButton"><i class="fas fa-heart"></i></span>
            </button>
          </ng-container>
        </div><br>
        <h6 class="d-inline">Release Date: </h6><span>{{song.releaseDate | date }}</span><br>
        <h6 class="d-inline">Artist(s): </h6>
        <ul>
          <li *ngFor="let artist of artistList; index as i"><a [routerLink]="['/artist/detail']" [queryParams]="{id: artist.id}" >{{artist.name}} </a></li>
        </ul>
      </div>
    </div>
    <h4>Comment</h4>
    <ul class="list-group">
      <li class="list-group-item row" *ngFor="let comment of commentList; index as i">
        <img class="avatar border" [src]="comment.user.avatarUrl" alt="">
        <div class="col-sm-11">
          <b>{{comment.user.username}}</b><br>
          <p>{{comment.content}}</p><p>{{ comment.localDateTime }}</p>
        </div>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="!!currentUser">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <label for="comment"></label><textarea class="form-control" id="comment" placeholder="Comment here" formControlName="content"></textarea>
      <div class="mt-sm-3">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
  </ng-container>
</ng-container>
