<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<Br>
<Br>
<Br>

<b>Name: </b>{{ song.name }} <br>
<br>
<b>Release Date: </b>  {{ song.releaseDate }}  <Br> <br>
<b> Artists : </b> {{ song.artists }} <Br> <br>
<b> Genre: </b> {{ song.genres }}   <Br> <br>
<b> Rating: </b> {{ song.rating }} <br> <br>
<b> Mood: </b>  {{ song.mood }} <Br> <br>
<b> Activity: </b> {{ song.activity }} <Br> <br>
<b> Tags: </b>  {{ song.tags }}   <Br> <br>
<button class="btn btn-primary" (click)="addToPlaylist(song)" [disabled]="song.isDisabled"><i
  class="fas fa-play-circle"></i></button>
<Br>
<Br>
<div class="align-content-around" style="
  box-sizing: content-box;
  padding: 10px;
  border: 2px solid #bdbbb6;
  background-color: #eef9f2;
}">
  <article>
    <div id="fulllyric" style="font-size: 14px; overflow: auto;">
      <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      <b> Lyrics: </b>
      <br>
      <br>
      {{song.lyrics}}
    </div>
  </article>
</div>



