<app-modal [action]="'create'" [title]="'Create new country' | translate" [darkThemeOn]="false">
  <form [formGroup]="countryCreateForm" (ngSubmit)="onSubmit()" class="modal-body">
    <div class="form-group">
      <label for="countryName">{{ 'Country Name' | translate }}</label>
      <input type="text" class="form-control" id="countryName" [placeholder]="('Enter' | translate) + ' ' + ('Country Name' | translate)" formControlName="name">
      <div class="alert alert-danger" role="alert" *ngIf="countryCreateForm.get('name').hasError('required') && (countryCreateForm.get('name').touched || submitted)">
        {{'Country Name' | translate}}{{' '}}{{'must be filled' | translate}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="countryCreateForm.get('name').hasError('minlength') && (countryCreateForm.get('name').touched || submitted)">
        {{'Country Name' | translate}}{{' '}}{{'must have at least' | translate}}{{' 4 '}}{{'characters' | translate}}
      </div>
    </div>
    <label for="flag">{{ 'Flag' | translate }}</label>
    <div class="form-group custom-file">
      <label class="custom-file-label" *ngIf=!isImageFileChosen>{{ 'Choose File' | translate }}</label>
      <label class="custom-file-label" *ngIf=isImageFileChosen>{{ imageFileName }}</label>
      <input type="file" class="custom-file-input" id="flag" (change)="selectFile($event)">
    </div>
    <div class="progress form-group" *ngIf="progress.value > 0">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress.value">
      </div>
    </div>
    <div *ngIf="message" class="alert mt-3 mb-0" [class.alert-danger]="error"
         [class.alert-success]="!error">{{message}}
    </div>
  </form>
  <button type="submit" [disabled]="loading" (click)="onSubmit()" class="btn btn-primary modal_footer">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <span>{{ 'Submit' | translate }}</span>
  </button>
</app-modal>
