<app-modal-wrapper [title]="'Create new country' | translate" (closeAction)="close()">
  <form [formGroup]="countryCreateForm" (ngSubmit)="onSubmit()" class="modal-body">
    <div class="form-group">
      <label for="countryName">{{ 'Country Name' | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="countryName"
        [placeholder]="('Enter' | translate) + ' ' + ('Country Name' | translate)"
        formControlName="name"
      />
      <vg-error-section [label]="'common.entity.country' | translate" [group]="countryCreateForm" controlName="name"></vg-error-section>
    </div>
    <label for="flag">{{ 'Flag' | translate }}</label>
    <div class="form-group custom-file">
      <label class="custom-file-label" *ngIf="!isImageFileChosen">{{ 'Choose File' | translate }}</label>
      <label class="custom-file-label" *ngIf="isImageFileChosen">{{ imageFileName }}</label>
      <input type="file" class="custom-file-input" id="flag" (change)="selectFile($event)" />
    </div>
    <div class="progress form-group" *ngIf="progress.value > 0">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress.value"></div>
    </div>
  </form>
  <ng-container modalFooter>
    <button type="submit" [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      <span>{{ 'Submit' | translate }}</span>
    </button>
  </ng-container>
</app-modal-wrapper>
